<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baofu.international.global.account.core.dal.mapper.AreaInfoMapper">

    <select id="queryProvince" resultType="com.baofu.international.global.account.core.dal.model.ProvinceInfoDo">
        /**TAreaInfoMapper.queryProvince**/
        SELECT
            AREA_CODE as provinceId,
            AREA_NAME as provinceName
        FROM T_AREA_INFO
        WHERE PARENT_AREA_CODE = 1
        <if test="provinceId != null and provinceId != ''">
            AND AREA_CODE = #{provinceId,jdbcType=VARCHAR}
        </if>
    </select>

    <select id="queryCity" resultType="com.baofu.international.global.account.core.dal.model.CityInfoDo">
        /**TAreaInfoMapper.queryProvince**/
        SELECT
        AREA_CODE as cityId,
        AREA_NAME as cityName
        FROM T_AREA_INFO
        WHERE PARENT_AREA_CODE = #{cityId,jdbcType=VARCHAR}
    </select>

    <select id="queryArea" resultType="com.baofu.international.global.account.core.dal.model.AreaInfoDo">
        /**TAreaInfoMapper.queryProvince**/
        SELECT
        AREA_CODE as areaId,
        AREA_NAME as areaName
        FROM T_AREA_INFO
        WHERE PARENT_AREA_CODE = #{areaId,jdbcType=VARCHAR}
    </select>
</mapper>