<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baofu.international.global.account.core.dal.mapper.AuthOrgMapper">
    <resultMap id="BaseResultMap" type="com.baofu.international.global.account.core.dal.model.AuthOrgDo">
        <id column="ID"                     jdbcType="BIGINT"       property="id"/>
        <result column="AUTH_APPLY_NO"      jdbcType="BIGINT"       property="authApplyNo"/>
        <result column="AUTH_STATUS"        jdbcType="TINYINT"      property="authStatus"/>
        <result column="NAME"               jdbcType="VARCHAR"      property="name"/>
        <result column="EN_NAME"            jdbcType="VARCHAR"      property="enName"/>
        <result column="ID_TYPE"            jdbcType="TINYINT"      property="idType"/>
        <result column="ID_NO"              jdbcType="VARCHAR"      property="idNo"/>
        <result column="LICENSE_BEGIN_AT"   jdbcType="TIMESTAMP"    property="licenseBeginAt"/>
        <result column="LICENSE_END_AT"     jdbcType="TIMESTAMP"    property="licenseEndAt"/>
        <result column="LEGAL_NAME"         jdbcType="VARCHAR"      property="legalName"/>
        <result column="LEGAL_ID_TYPE"      jdbcType="TINYINT"      property="legalIdType"/>
        <result column="LEGAL_ID_NO"        jdbcType="VARCHAR"      property="legalIdNo"/>
        <result column="CREATE_AT"          jdbcType="TIMESTAMP"    property="createAt"/>
        <result column="CREATE_BY"          jdbcType="VARCHAR"      property="createBy"/>
        <result column="UPDATE_AT"          jdbcType="TIMESTAMP"    property="updateAt"/>
        <result column="UPDATE_BY"          jdbcType="VARCHAR"      property="updateBy"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID, AUTH_APPLY_NO, AUTH_STATUS, NAME, EN_NAME, ID_TYPE, ID_NO, LICENSE_BEGIN_AT,
        LICENSE_END_AT, LEGAL_NAME, LEGAL_ID_TYPE, LEGAL_ID_NO, CREATE_AT, CREATE_BY, UPDATE_AT,
        UPDATE_BY
    </sql>

    <insert id="insert" parameterType="com.baofu.international.global.account.core.dal.model.AuthOrgDo">
      /**TAuthOrgMapper.insert**/
        insert into T_AUTH_ORG_LOG (
            AUTH_APPLY_NO,
            AUTH_REQ_NO,
            AUTH_STATUS,
            NAME,
            EN_NAME,
            ID_TYPE,
            ID_NO,
            LICENSE_BEGIN_AT,
            LICENSE_END_AT,
            LEGAL_NAME,
            LEGAL_ID_TYPE,
            LEGAL_ID_NO,
            CREATE_AT,
            CREATE_BY,
            UPDATE_AT,
            UPDATE_BY)
        values (
            #{authApplyNo,jdbcType=BIGINT},
            #{authReqNo,jdbcType=BIGINT},
            #{authStatus,jdbcType=TINYINT},
            #{name,jdbcType=VARCHAR},
            #{enName,jdbcType=VARCHAR},
            #{idType,jdbcType=TINYINT},
            #{idNo,jdbcType=VARCHAR},
            #{licenseBeginAt,jdbcType=TIMESTAMP},
            #{licenseEndAt,jdbcType=TIMESTAMP},
            #{legalName,jdbcType=VARCHAR},
            #{legalIdType,jdbcType=TINYINT},
            #{legalIdNo,jdbcType=VARCHAR},
            NOW(),
            #{createBy,jdbcType=VARCHAR},
            NOW(),
            #{updateBy,jdbcType=VARCHAR})
    </insert>
</mapper>