<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baofu.international.global.account.core.dal.mapper.ExternalOrderItemMapper">
  <resultMap id="BaseResultMap" type="com.baofu.international.global.account.core.dal.model.ExternalOrderItemDo">
    <id     column="ID"               jdbcType="BIGINT"     property="id" />
    <result column="ORDER_ID"         jdbcType="BIGINT"     property="orderId" />
    <result column="COMMODITY_NAME"   jdbcType="VARCHAR"    property="commodityName" />
    <result column="COMMODITY_AMOUNT" jdbcType="INTEGER"    property="commodityAmount" />
    <result column="COMMODITY_PRICE"  jdbcType="DECIMAL"    property="commodityPrice" />
    <result column="CREATE_AT"        jdbcType="TIMESTAMP"  property="createAt" />
    <result column="CREATE_BY"        jdbcType="VARCHAR"    property="createBy" />
    <result column="UPDATE_AT"        jdbcType="TIMESTAMP"  property="updateAt" />
    <result column="UPDATE_BY"        jdbcType="VARCHAR"    property="updateBy" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, ORDER_ID, COMMODITY_NAME, COMMODITY_AMOUNT, COMMODITY_PRICE, CREATE_AT, CREATE_BY, UPDATE_AT,
    UPDATE_BY
  </sql>
  <select id="selectByKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from T_EXTERNAL_ORDER_ITEM
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <insert id="insert" parameterType="com.baofu.international.global.account.core.dal.model.ExternalOrderItemDo">
    insert into T_EXTERNAL_ORDER_ITEM
    (
      COMMODITY_NAME,
      COMMODITY_AMOUNT,
      COMMODITY_PRICE,
      CREATE_AT,
      CREATE_BY,
      UPDATE_AT,
      UPDATE_BY,
      ORDER_ID
      )
    values (
      #{commodityName,jdbcType=VARCHAR},
      #{commodityAmount,jdbcType=BIGINT},
      #{commodityPrice,jdbcType=DECIMAL},
      NOW(),
      #{createBy,jdbcType=VARCHAR},
      NOW(),
      #{updateBy,jdbcType=VARCHAR},
      #{orderId,jdbcType=BIGINT}
      )
  </insert>

  <!-- 商户订单明细查询 -->
  <select id="selectByOrderId" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM
    T_EXTERNAL_ORDER_ITEM T
    WHERE 1 = 1
    <if test="detailsOrderIds != null">
      AND ORDER_ID IN (
      <foreach collection="detailsOrderIds" item="orderId" index="key" separator=",">
        #{orderId}
      </foreach>
      )
    </if>
  </select>
</mapper>