<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baofu.international.global.account.core.dal.mapper.ExternalOrderMapper">
  <resultMap id="BaseResultMap" type="com.baofu.international.global.account.core.dal.model.ExternalOrderDo">
    <id column="ID"                 jdbcType="BIGINT"     property="id" />
    <result column="USER_NO"        jdbcType="BIGINT"     property="userNo" />
    <result column="ORDER_ID"       jdbcType="BIGINT"     property="orderId" />
    <result column="USER_TRANS_ID"  jdbcType="VARCHAR"    property="userTransId" />
    <result column="TRADE_AT"       jdbcType="TIMESTAMP"  property="tradeAt" />
    <result column="ORDER_AMT"      jdbcType="DECIMAL"    property="orderAmt" />
    <result column="ORDER_CCY"      jdbcType="CHAR"       property="orderCcy" />
    <result column="BUY_ACC_NO"     jdbcType="VARCHAR"    property="buyAccNo" />
    <result column="REMARKS"        jdbcType="VARCHAR"    property="remarks" />
    <result column="CREATE_AT"      jdbcType="TIMESTAMP"  property="createAt" />
    <result column="CREATE_BY"      jdbcType="VARCHAR"    property="createBy" />
    <result column="UPDATE_BY"      jdbcType="VARCHAR"    property="updateBy" />
    <result column="UPDATE_AT"      jdbcType="TIMESTAMP"  property="updateAt" />
    <result column="STATE"          jdbcType="TINYINT"    property="state" />
    <result column="SELLER_ID"      jdbcType="VARCHAR"    property="sellerId" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, USER_NO, USER_TRANS_ID, TRADE_AT, ORDER_AMT, ORDER_CCY, BUY_ACC_NO, REMARKS, CREATE_AT, CREATE_BY, UPDATE_BY, UPDATE_AT, STATE,
    SELLER_ID,ORDER_ID
  </sql>
  <select id="selectByKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 'false' as QUERYID,
    <include refid="Base_Column_List" />
    from T_EXTERNAL_ORDER
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <insert id="insert" parameterType="com.baofu.international.global.account.core.dal.model.ExternalOrderDo">
    insert into T_EXTERNAL_ORDER (
      USER_NO,
      USER_TRANS_ID,
      TRADE_AT,
      ORDER_AMT,
      ORDER_CCY,
      BUY_ACC_NO,
      REMARKS,
      CREATE_AT,
      CREATE_BY,
      UPDATE_BY,
      UPDATE_AT,
      STATE,
      SELLER_ID,
      ORDER_ID
      )
    values (
      #{userNo,jdbcType=BIGINT},
      #{userTransId,jdbcType=VARCHAR},
      #{tradeAt,jdbcType=TIMESTAMP},
      #{orderAmt,jdbcType=DECIMAL},
      #{orderCcy,jdbcType=CHAR},
      #{buyAccNo,jdbcType=VARCHAR},
      #{remarks,jdbcType=VARCHAR},
      NOW(),
      #{createBy,jdbcType=VARCHAR},
      #{updateBy,jdbcType=VARCHAR},
      NOW(),
      #{state,jdbcType=TINYINT},
      #{sellerId,jdbcType=VARCHAR},
      #{orderId,jdbcType=BIGINT}
      )
  </insert>

  <!-- 根据汇总订单号查询结汇明细信息 -->
  <select id="queryExternalOrderInfo" resultMap="BaseResultMap">
    SELECT
    fcso.SELLER_ID,
    fcso.ORDER_ID,
    fcso.USER_TRANS_ID,
    fcso.TRADE_AT,
    fcso.ORDER_AMT,
    fcso.ORDER_CCY,
    fcso.BUY_ACC_NO,
    fcoi.COMMODITY_NAME AS COMMODITY_INFO
    FROM
    T_EXTERNAL_ORDER fcso
    LEFT JOIN T_EXTERNAL_ORDER_ITEM fcoi ON fcso.ORDER_ID = fcoi.ORDER_ID
    WHERE
    fcso.SELLER_ID = #{sellerId,jdbcType=VARCHAR}
    <if test="userNo != null">
      AND fcso.USER_NO = #{userNo,jdbcType=BIGINT}
    </if>
    <if test="state != null">
      AND fcso.STATE = #{state,jdbcType=TINYINT}
    </if>
    GROUP BY fcso.ORDER_ID;
  </select>

  <!--根据订单号修改订单使用状态-->
  <update id="batchUpdateExternalOrderState">
    UPDATE
    T_EXTERNAL_ORDER
    <set>
      STATE = #{state},
      UPDATE_AT = NOW()
    </set>
    WHERE
    SELLER_ID = #{sellerId}
    AND ORDER_ID IN (
    <foreach collection="orderIdList" item="orderId" separator=",">
      ${orderId}
    </foreach>
    )
  </update>

  <!-- 商户订单号校验 -->
  <select id="selectBySellerId" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM
    T_EXTERNAL_ORDER T
    WHERE
    SELLER_ID = #{sellerId}
    AND STATE = #{state}
    <if test="detailsOrderIds != null">
      AND ORDER_ID IN (
      <foreach collection="detailsOrderIds" item="orderId" index="key" separator=",">
        #{orderId}
      </foreach>
      )
    </if>
  </select>

  <!-- 查询用户可用订单总金额 -->
  <select id="sumExternalOrderAmt" resultType="java.math.BigDecimal">
    SELECT
    IFNULL(SUM(ORDER_AMT),0)
    FROM
    T_EXTERNAL_ORDER
    WHERE
    SELLER_ID = #{sellerId}
    AND
    STATE = 0
  </select>
  <!--根据用户订单号修改订单使用状态-->
  <update id="batchUpdateExternalOrder">
    UPDATE
    T_EXTERNAL_ORDER
    <set>
      STATE = #{state},
      UPDATE_AT = NOW()
    </set>
    WHERE USER_NO = #{userNo,jdbcType=BIGINT}
    AND USER_TRANS_ID IN (
    <foreach collection="orderIdList" item="orderId" separator=",">
      #{orderId,jdbcType=VARCHAR}
    </foreach>
    )
  </update>
</mapper>