<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baofu.international.global.account.core.dal.mapper.ManagerCategoryInfoMapper">

    <select id="queryCategory" resultType="com.baofu.international.global.account.core.dal.model.ManagerCategoryInfoDo">
        /**TAreaInfoMapper.queryCategory**/
        SELECT
            CATEGORY_ID as categoryId,
            CATEGORY_NAME as categoryName
        FROM T_MANAGEMENT_CATEGORY_INFO
        WHERE 1 = 1
        <if test="categoryId != null and categoryId != ''">
            AND CATEGORY_ID = #{categoryId,jdbcType=VARCHAR}
        </if>
    </select>
</mapper>