<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baofu.international.global.account.core.dal.mapper.OccupationInfoMapper">

    <select id="queryOccupation" resultType="com.baofu.international.global.account.core.dal.model.OccupationInfoDo">
        /**TAreaInfoMapper.queryOccupation**/
        SELECT
            OCCUPATION_ID as occupationId,
            OCCUPATION_NAME as occupationName
        FROM T_OCCUPATION_INFO
        WHERE 1 = 1
        <if test="occupationId != null and occupationId != ''">
            AND OCCUPATION_ID = #{occupationId,jdbcType=VARCHAR}
        </if>
    </select>
</mapper>