<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baofu.international.global.account.core.dal.mapper.SysBankInfoMapper">
    <resultMap id="BaseResultMap" type="com.baofu.international.global.account.core.dal.model.SysBankInfoDo">
        <id column="ID" jdbcType="BIGINT" property="id"/>
        <result column="BANK_NAME" jdbcType="VARCHAR" property="bankName"/>
        <result column="BANK_CODE" jdbcType="VARCHAR" property="bankCode"/>
        <result column="BANK_ABBRE_NAME" jdbcType="VARCHAR" property="bankAbbreName"/>
        <result column="STATE" jdbcType="TINYINT" property="state"/>
        <result column="ICON_CODE" jdbcType="VARCHAR" property="iconCode"/>
        <result column="CREATE_AT" jdbcType="TIMESTAMP" property="createAt"/>
        <result column="CREATE_BY" jdbcType="VARCHAR" property="createBy"/>
        <result column="UPDATE_BY" jdbcType="VARCHAR" property="updateBy"/>
        <result column="UPDATE_AT" jdbcType="TIMESTAMP" property="updateAt"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID, BANK_NAME, BANK_CODE, BANK_ABBRE_NAME, STATE, ICON_CODE
    </sql>

    <select id="querySysBankInfo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from T_SYS_BANK_INFO
        where STATE =1
    </select>

  <!--  根据银行编码查询银行信息-->
    <select id="selectSysBankInfo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from T_SYS_BANK_INFO
        where STATE =1
        AND
          BANK_CODE=#{bankCode,jdbcType=VARCHAR}
    </select>
</mapper>