<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baofu.international.global.account.core.dal.mapper.SysSecrueqaInfoMapper">
    <resultMap id="BaseResultMap" type="com.baofu.international.global.account.core.dal.model.SysSecrueqaInfoDo">
        <id     column="ID"             jdbcType="BIGINT"       property="id"/>
        <result column="QUESTION_NO"    jdbcType="BIGINT"       property="questionNo"/>
        <result column="QUESTION"       jdbcType="VARCHAR"      property="question"/>
        <result column="CREATE_AT"      jdbcType="TIMESTAMP"    property="createAt"/>
        <result column="CREATE_BY"      jdbcType="VARCHAR"      property="createBy"/>
        <result column="UPDATE_AT"      jdbcType="TIMESTAMP"    property="updateAt"/>
        <result column="UPDATE_BY"      jdbcType="VARCHAR"      property="updateBy"/>
        <result column="QUESTION_TYPE"  jdbcType="INTEGER"      property="questionType"/>
    </resultMap>
    <sql id="Base_Column_List">
        ID, QUESTION_NO, QUESTION, CREATE_AT, CREATE_BY, UPDATE_AT, UPDATE_BY, QUESTION_TYPE
    </sql>
    <insert id="insert" parameterType="com.baofu.international.global.account.core.dal.model.SysSecrueqaInfoDo">
        INSERT INTO T_SYS_SECRUEQA_INFO (
            QUESTION_NO,
            QUESTION,
            CREATE_AT,
            CREATE_BY,
            UPDATE_AT,
            UPDATE_BY
        )VALUES (
            #{questionNo,jdbcType=BIGINT},
            #{question,jdbcType=VARCHAR},
            NOW(),
            #{createBy,jdbcType=VARCHAR},
            NOW(),
            #{updateBy,jdbcType=VARCHAR}
        )
    </insert>

    <!--查询系统安全问题-->
    <select id="selectSysSecrueqaInfoList" resultMap="BaseResultMap">
      /**TSysSecrueqaInfoMapper.selectSysSecrueqaInfoList**/
      SELECT
        <include refid="Base_Column_List" />
      FROM
        T_SYS_SECRUEQA_INFO
    </select>

    <!--根据问题编号查询系统安全问题信息-->
    <select id="selectSysSecrueqaInfoByQuestionNo" resultMap="BaseResultMap">
        /**TSysSecrueqaInfoMapper.selectSysSecrueqaInfoByQuestionNo**/
        SELECT
          <include refid="Base_Column_List" />
        FROM
          T_SYS_SECRUEQA_INFO
        WHERE
        QUESTION_NO = #{questionNo,jdbcType=BIGINT}
    </select>
</mapper>