<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baofu.international.global.account.core.dal.mapper.UserPersonalMapper">
    <resultMap id="BaseResultMap" type="com.baofu.international.global.account.core.dal.model.UserPersonalDo">
        <id column="ID" jdbcType="BIGINT" property="id"/>
        <result column="USER_INFO_NO" jdbcType="BIGINT" property="userInfoNo"/>
        <result column="ID_TYPE" jdbcType="TINYINT" property="idType"/>
        <result column="ID_NO" jdbcType="VARCHAR" property="idNo"/>
        <result column="NAME" jdbcType="VARCHAR" property="name"/>
        <result column="EN_NAME" jdbcType="VARCHAR" property="enName"/>
        <result column="ID_FRONT_DFS_ID" jdbcType="BIGINT" property="idFrontDfsId"/>
        <result column="ID_REVERSE_DFS_ID" jdbcType="BIGINT" property="idReverseDfsId"/>
        <result column="LONG_TERM" jdbcType="VARCHAR" property="longTerm"/>
        <result column="CERT_START_DATE" jdbcType="DATE" property="certStartDate"/>
        <result column="CERT_EXPIRY_DATE" jdbcType="DATE" property="certExpiryDate"/>
        <result column="MANAGEMENT_CATEGORY_TYPE" jdbcType="VARCHAR" property="managementCategoryType"/>
        <result column="OCCUPATION" jdbcType="VARCHAR" property="occupation"/>
        <result column="PROVINCE" jdbcType="VARCHAR" property="province"/>
        <result column="CITY" jdbcType="VARCHAR" property="city"/>
        <result column="AREA" jdbcType="VARCHAR" property="area"/>
        <result column="ADDRESS" jdbcType="VARCHAR" property="address"/>
        <result column="POST_CODE" jdbcType="VARCHAR" property="postCode"/>
        <result column="REALNAME_STATUS" jdbcType="TINYINT" property="realnameStatus"/>
        <result column="PHONE_NUMBER" jdbcType="VARCHAR" property="phoneNumber"/>
        <result column="EMAIL" jdbcType="VARCHAR" property="email"/>
        <result column="REMARKS" jdbcType="VARCHAR" property="remarks"/>
        <result column="CREATE_AT" jdbcType="TIMESTAMP" property="createAt"/>
        <result column="CREATE_BY" jdbcType="VARCHAR" property="createBy"/>
        <result column="UPDATE_AT" jdbcType="TIMESTAMP" property="updateAt"/>
        <result column="UPDATE_BY" jdbcType="VARCHAR" property="updateBy"/>
        <result column="BANK_CARD_RECORD_NO" jdbcType="VARCHAR" property="bankCardRecordNo"/>

        <!-- 别动 -->
        <result column="USER_NO" jdbcType="BIGINT" property="userNo"/>
    </resultMap>
    <sql id="Base_Column_List">
      ID,
      USER_INFO_NO,
      ID_TYPE,
      ID_NO,
      NAME,
      EN_NAME,
      ID_FRONT_DFS_ID,
      ID_REVERSE_DFS_ID,
      LONG_TERM,
      CERT_START_DATE,
      CERT_EXPIRY_DATE,
      MANAGEMENT_CATEGORY_TYPE,
      OCCUPATION,
      PROVINCE,
      CITY,
      AREA,
      ADDRESS,
      POST_CODE,
      REALNAME_STATUS,
      PHONE_NUMBER,
      EMAIL,
      REMARKS,
      CREATE_AT,
      CREATE_BY,
      UPDATE_AT,
      UPDATE_BY,
      BANK_CARD_RECORD_NO
  </sql>

    <sql id="Base_Column_List2">
        p.ID,
        p.USER_INFO_NO,
        p.ID_TYPE,
        p.ID_NO,
        p.NAME,
        p.EN_NAME,
        p.ID_FRONT_DFS_ID,
        p.ID_REVERSE_DFS_ID,
        p.LONG_TERM,
        p.CERT_START_DATE,
        p.CERT_EXPIRY_DATE,
        p.MANAGEMENT_CATEGORY_TYPE,
        p.OCCUPATION,
        p.PROVINCE,
        p.CITY,
        p.AREA,
        p.ADDRESS,
        p.POST_CODE,
        p.REALNAME_STATUS,
        p.PHONE_NUMBER,
        p.EMAIL,
        p.REMARKS,
        p.CREATE_AT,
        p.CREATE_BY,
        p.UPDATE_AT,
        p.UPDATE_BY,
        p.BANK_CARD_RECORD_NO,
        u.USER_NO
    </sql>

    <!-- 根据userInfoNo 查询 -->
    <select id="selectByUserInfoNo" parameterType="java.lang.Long" resultMap="BaseResultMap">
        /* TUserPersonalMapper.selectByUserNo*/
        select
        <include refid="Base_Column_List"/>
        from T_USER_PERSONAL
        where USER_INFO_NO = #{userInfoNo,jdbcType=BIGINT}
    </select>

    <!-- 根据条件查询个人用户信息 -->
    <select id="selectAllByCondition" parameterType="com.baofu.international.global.account.core.dal.model.UserPersonalDo"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List2"/>
        from
        T_USER_PERSONAL p
        LEFT JOIN
        T_USER_INFO u
        ON
        p.USER_INFO_NO = u.USER_INFO_NO
        <where>
            <if test="id != null">
                AND p.ID = #{id,jdbcType=BIGINT}
            </if>
            <if test="userInfoNo != null">
                AND p.USER_INFO_NO = #{userInfoNo,jdbcType=BIGINT}
            </if>
            <if test="userNo != null and userNo !=''">
                AND u.USER_NO = #{userNo,jdbcType=BIGINT}
            </if>
            <if test="idNo != null">
                AND p.ID_NO = #{idNo,jdbcType=VARCHAR}
            </if>
            <if test="name != null and name !=''">
                AND p.NAME = #{name,jdbcType=VARCHAR}
            </if>
            <if test="enName != null">
                AND p.EN_NAME = #{enName,jdbcType=VARCHAR}
            </if>
            <if test="area != null">
                AND p.AREA = #{area,jdbcType=VARCHAR}
            </if>
            <if test="address != null">
                AND p.ADDRESS = #{address,jdbcType=VARCHAR}
            </if>
            <if test="postCode != null">
                AND p.POST_CODE = #{postCode,jdbcType=VARCHAR}
            </if>
            <if test="realnameStatus != null ">
                AND p.REALNAME_STATUS = #{realnameStatus,jdbcType=TINYINT}
            </if>
            <if test="phoneNumber != null and phoneNumber != ''">
                AND p.PHONE_NUMBER = #{phoneNumber,jdbcType=VARCHAR}
            </if>
            <if test="email != null and email != ''">
                AND p.EMAIL = #{email,jdbcType=VARCHAR}
            </if>
            <if test="beginTime != null and beginTime != ''">
                AND p.CREATE_AT &gt;= #{beginTime}
            </if>
            <if test="endTime != null and endTime != ''">
                AND p.CREATE_AT &lt;=#{endTime}
            </if>
        </where>
        ORDER BY p.CREATE_AT DESC
        <if test="pageSize != 0">
            LIMIT #{pageNo},#{pageSize}
        </if>
    </select>

    <!-- 根据条件查询个人用户信息记录数 -->
    <select id="countAllByCondition" resultType="java.lang.Integer">
        SELECT
        COUNT(1)
        FROM
        T_USER_PERSONAL p
        LEFT JOIN
        T_USER_INFO u
        ON
        p.USER_INFO_NO = u.USER_INFO_NO
        <where>
            <if test="id != null">
                AND p.ID = #{id,jdbcType=BIGINT}
            </if>
            <if test="userInfoNo != null">
                AND p.USER_INFO_NO = #{userInfoNo,jdbcType=BIGINT}
            </if>
            <if test="userNo != null and userNo !=''">
                AND u.USER_NO = #{userNo,jdbcType=BIGINT}
            </if>
            <if test="idNo != null">
                AND p.ID_NO = #{idNo,jdbcType=VARCHAR}
            </if>
            <if test="name != null and name !=''">
                AND p.NAME = #{name,jdbcType=VARCHAR}
            </if>
            <if test="enName != null">
                AND p.EN_NAME = #{enName,jdbcType=VARCHAR}
            </if>
            <if test="area != null">
                AND p.AREA = #{area,jdbcType=VARCHAR}
            </if>
            <if test="address != null">
                AND p.ADDRESS = #{address,jdbcType=VARCHAR}
            </if>
            <if test="postCode != null">
                AND p.POST_CODE = #{postCode,jdbcType=VARCHAR}
            </if>
            <if test="realnameStatus != null ">
                AND p.REALNAME_STATUS = #{realnameStatus,jdbcType=TINYINT}
            </if>
            <if test="phoneNumber != null and phoneNumber != ''">
                AND p.PHONE_NUMBER = #{phoneNumber,jdbcType=VARCHAR}
            </if>
            <if test="email != null and email != ''">
                AND p.EMAIL = #{email,jdbcType=VARCHAR}
            </if>
            <if test="beginTime != null and beginTime != ''">
                AND p.CREATE_AT &gt;= #{beginTime}
            </if>
            <if test="endTime != null and endTime != ''">
                AND p.CREATE_AT &lt;=#{endTime}
            </if>
        </where>
    </select>

    <!-- 数据插入 -->
    <insert id="insert" parameterType="com.baofu.international.global.account.core.dal.model.UserPersonalDo">
    /* TUserPersonalMapper.insert*/
    insert into T_USER_PERSONAL (
        USER_INFO_NO,
        ID_TYPE,
        ID_NO,
        NAME,
        EN_NAME,
        ID_FRONT_DFS_ID,
        ID_REVERSE_DFS_ID,
        LONG_TERM,
        CERT_START_DATE,
        CERT_EXPIRY_DATE,
        MANAGEMENT_CATEGORY_TYPE,
        OCCUPATION,
        PROVINCE,
        CITY,
        AREA,
        ADDRESS,
        POST_CODE,
        REALNAME_STATUS,
        PHONE_NUMBER,
        EMAIL,
        REMARKS,
        BANK_CARD_RECORD_NO,
        CREATE_AT,
        CREATE_BY,
        UPDATE_AT,
        UPDATE_BY
      )
    values (
        #{userInfoNo,jdbcType=BIGINT},
        #{idType,jdbcType=TINYINT},
        #{idNo,jdbcType=VARCHAR},
        #{name,jdbcType=VARCHAR},
        #{enName,jdbcType=VARCHAR},
        #{idFrontDfsId,jdbcType=BIGINT},
        #{idReverseDfsId,jdbcType=BIGINT},
        #{longTerm,jdbcType=VARCHAR},
        #{certStartDate,jdbcType=DATE},
        #{certExpiryDate,jdbcType=DATE},
        #{managementCategoryType,jdbcType=VARCHAR},
        #{occupation,jdbcType=VARCHAR},
        #{province,jdbcType=VARCHAR},
        #{city,jdbcType=VARCHAR},
        #{area,jdbcType=VARCHAR},
        #{address,jdbcType=VARCHAR},
        #{postCode,jdbcType=VARCHAR},
        #{realnameStatus,jdbcType=TINYINT},
        #{phoneNumber,jdbcType=VARCHAR},
        #{email,jdbcType=VARCHAR},
        #{remarks,jdbcType=VARCHAR},
        #{bankCardRecordNo,jdbcType=BIGINT},
        NOW(),
        #{createBy,jdbcType=VARCHAR},
        NOW(),
        #{updateBy,jdbcType=VARCHAR}
      )
  </insert>

    <!-- 更新用户认证信息 -->
    <update id="updateAuthStatus" parameterType="com.baofu.international.global.account.core.dal.model.user.EditUserReqDo">
        UPDATE
        T_USER_PERSONAL
        SET
        <if test="authStatus != null">
            REALNAME_STATUS = #{authStatus,jdbcType=TINYINT},
        </if>
        <if test="failReason != null">
            REMARKS = #{failReason,jdbcType=VARCHAR},
        </if>
        UPDATE_AT = NOW(),
        UPDATE_BY = #{operator,jdbcType=VARCHAR}
        WHERE
        USER_INFO_NO = #{userInfoNo,jdbcType=BIGINT}
    </update>

    <!-- 更新状态 -->
    <update id="updateTelByUserNo" parameterType="com.baofu.international.global.account.core.dal.model.UserPersonalDo">
        update T_USER_PERSONAL
        <set>
            <if test="phoneNumber != null">
                PHONE_NUMBER = #{phoneNumber,jdbcType=VARCHAR},
            </if>
            <if test="updateBy != null">
                UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
            </if>
            UPDATE_AT = NOW()
        </set>
        where USER_INFO_NO = #{userInfoNo,jdbcType=BIGINT}
    </update>

    <update id="updateUserPersonal" parameterType="com.baofu.international.global.account.core.dal.model.UserPersonalDo">
        UPDATE
        T_USER_PERSONAL
        SET
        <if test="idType != null">
            ID_TYPE = #{idType,jdbcType=TINYINT},
        </if>
        <if test="idNo != null">
            ID_NO = #{idNo,jdbcType=TINYINT},
        </if>
        <if test="name != null">
            NAME = #{name,jdbcType=VARCHAR},
        </if>
        <if test="enName != null">
            EN_NAME = #{enName,jdbcType=VARCHAR},
        </if>
        <if test="idFrontDfsId != null">
            ID_FRONT_DFS_ID = #{idFrontDfsId,jdbcType=BIGINT},
        </if>
        <if test="idReverseDfsId != null">
            ID_REVERSE_DFS_ID = #{idReverseDfsId,jdbcType=BIGINT},
        </if>
        <if test="longTerm != null">
            LONG_TERM = #{longTerm,jdbcType=VARCHAR},
        </if>
        <if test="certStartDate != null">
            CERT_START_DATE = #{certStartDate,jdbcType=DATE},
        </if>
        <if test="certExpiryDate != null">
            CERT_EXPIRY_DATE = #{certExpiryDate,jdbcType=DATE},
        </if>
        <if test="managementCategoryType != null">
            MANAGEMENT_CATEGORY_TYPE = #{managementCategoryType,jdbcType=VARCHAR},
        </if>
        <if test="occupation != null">
            OCCUPATION = #{occupation,jdbcType=VARCHAR},
        </if>
        <if test="province != null">
            PROVINCE = #{province,jdbcType=VARCHAR},
        </if>
        <if test="city != null">
            CITY = #{city,jdbcType=VARCHAR},
        </if>
        <if test="area != null">
            AREA = #{area,jdbcType=VARCHAR},
        </if>
        <if test="address != null">
            ADDRESS = #{address,jdbcType=VARCHAR},
        </if>
        <if test="postCode != null">
            POST_CODE = #{postCode,jdbcType=VARCHAR},
        </if>
        <if test="realnameStatus != null">
            REALNAME_STATUS = #{realnameStatus,jdbcType=VARCHAR},
        </if>
        <if test="phoneNumber != null">
            PHONE_NUMBER = #{phoneNumber,jdbcType=VARCHAR},
        </if>
        <if test="email != null">
            EMAIL = #{email,jdbcType=VARCHAR},
        </if>
        <if test="remarks != null">
            REMARKS = #{remarks,jdbcType=VARCHAR},
        </if>
        <if test="bankCardRecordNo != null">
            BANK_CARD_RECORD_NO = #{bankCardRecordNo,jdbcType=BIGINT},
        </if>
        UPDATE_AT = NOW(),
        UPDATE_BY = #{updateBy,jdbcType=VARCHAR}
        WHERE
        USER_INFO_NO = #{userInfoNo,jdbcType=BIGINT}
    </update>

    <!-- 根据userNo 查询 -->
    <select id="selectInfoByUserNo" parameterType="java.lang.Long" resultMap="BaseResultMap">
        /* TUserPersonalMapper.selectByUserNo*/
        select
          personal.ID,
          personal.USER_INFO_NO,
          personal.ID_TYPE,
          personal.ID_NO,
          personal.NAME,
          personal.EN_NAME,
          personal.ID_FRONT_DFS_ID,
          personal.ID_REVERSE_DFS_ID,
          personal.LONG_TERM,
          personal.CERT_START_DATE,
          personal.CERT_EXPIRY_DATE,
          personal.MANAGEMENT_CATEGORY_TYPE,
          personal.OCCUPATION,
          personal.PROVINCE,
          personal.CITY,
          personal.AREA,
          personal.ADDRESS,
          personal.POST_CODE,
          personal.REALNAME_STATUS,
          personal.PHONE_NUMBER,
          personal.EMAIL,
          personal.REMARKS,
          personal.CREATE_AT,
          personal.CREATE_BY,
          personal.UPDATE_AT,
          personal.UPDATE_BY,
          personal.BANK_CARD_RECORD_NO
        from T_USER_INFO info, T_USER_PERSONAL personal
        where info.USER_INFO_NO = personal.USER_INFO_NO
        AND info.USER_NO = #{userNo,jdbcType=BIGINT}
    </select>

    <!-- 根据userNo 查询 -->
    <select id="selectInfoByQualifiedNo" parameterType="java.lang.Long" resultMap="BaseResultMap">
        /* TUserPersonalMapper.selectByUserNo*/
        select
        personal.ID,
        personal.USER_INFO_NO,
        personal.ID_TYPE,
        personal.ID_NO,
        personal.NAME,
        personal.EN_NAME,
        personal.ID_FRONT_DFS_ID,
        personal.ID_REVERSE_DFS_ID,
        personal.LONG_TERM,
        personal.CERT_START_DATE,
        personal.CERT_EXPIRY_DATE,
        personal.MANAGEMENT_CATEGORY_TYPE,
        personal.OCCUPATION,
        personal.PROVINCE,
        personal.CITY,
        personal.AREA,
        personal.ADDRESS,
        personal.POST_CODE,
        personal.REALNAME_STATUS,
        personal.PHONE_NUMBER,
        personal.EMAIL,
        personal.REMARKS,
        personal.CREATE_AT,
        personal.CREATE_BY,
        personal.UPDATE_AT,
        personal.UPDATE_BY,
        personal.BANK_CARD_RECORD_NO
        from  T_USER_PERSONAL personal, T_ACC_QUALIFIED qual
        where personal.USER_INFO_NO = qual.USER_INFO_NO
        AND qual.QUALIFIED_NO = #{qualifiedNo,jdbcType=BIGINT}
    </select>

    <!-- 根据email 查询 -->
    <select id="queryByEmail" resultMap="BaseResultMap">
        /* TUserPersonalMapper.selectByEmail*/
        select
        <include refid="Base_Column_List"/>
        from T_USER_PERSONAL
        where EMAIL = #{email,jdbcType=VARCHAR}
    </select>
</mapper>