<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baofu.international.global.account.core.dal.mapper.UserPwdMapper">
  <resultMap id="BaseResultMap" type="com.baofu.international.global.account.core.dal.model.UserPwdDo">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="USER_NO" jdbcType="BIGINT" property="userNo" />
    <result column="PWD" jdbcType="VARCHAR" property="pwd" />
    <result column="PWD_TYPE" jdbcType="TINYINT" property="pwdType" />
    <result column="STATE" jdbcType="TINYINT" property="state" />
    <result column="ERROR_NUM" jdbcType="TINYINT" property="errorNum" />
    <result column="LOCK_AT" jdbcType="TIMESTAMP" property="lockAt" />
    <result column="MODIFY_AT" jdbcType="TIMESTAMP" property="modifyAt" />
    <result column="VERSION" jdbcType="TINYINT" property="version" />
    <result column="CREATE_AT" jdbcType="TIMESTAMP" property="createAt" />
    <result column="CREATE_BY" jdbcType="VARCHAR" property="createBy" />
    <result column="UPDATE_AT" jdbcType="TIMESTAMP" property="updateAt" />
    <result column="UPDATE_BY" jdbcType="VARCHAR" property="updateBy" />
  </resultMap>
  <sql id="Base_Column_List">
    ID,
    USER_NO,
    PWD,
    PWD_TYPE,
    STATE,
    ERROR_NUM,
    LOCK_AT,
    MODIFY_AT,
    VERSION,
    CREATE_AT,
    CREATE_BY,
    UPDATE_AT,
    UPDATE_BY
  </sql>

  <!-- 根据userNo 查询 -->
  <select id="selectByUserNo" resultMap="BaseResultMap">
    /*TUserPwdMapper.selectByUserNo*/
    select
    <include refid="Base_Column_List" />
    from T_USER_PWD
    where USER_NO = #{userNo,jdbcType=BIGINT}
    and   PWD_TYPE =  #{pwdType,jdbcType=TINYINT}
  </select>

  <!-- 数据插入 -->
  <insert id="insert" parameterType="com.baofu.international.global.account.core.dal.model.UserPwdDo">
    /*TUserPwdMapper.insert*/
    insert into T_USER_PWD (
        ID,
        USER_NO,
        PWD,
        PWD_TYPE,
        STATE,
        ERROR_NUM,
        LOCK_AT,
        MODIFY_AT,
        VERSION,
        CREATE_AT,
        CREATE_BY,
        UPDATE_AT,
        UPDATE_BY
    )
    values (
        #{id,jdbcType=BIGINT},
        #{userNo,jdbcType=BIGINT},
        #{pwd,jdbcType=VARCHAR},
        #{pwdType,jdbcType=TINYINT},
        #{state,jdbcType=TINYINT},
        #{errorNum,jdbcType=TINYINT},
        #{lockAt,jdbcType=TIMESTAMP},
        NOW(),
        #{version,jdbcType=TINYINT},
        NOW(),
        #{createBy,jdbcType=VARCHAR},
        NOW(),
        #{updateBy,jdbcType=VARCHAR})
  </insert>

    <!-- 根据登录号修改错误次数和最后错误时间 -->
    <update id="updateByUserNo">
        /*TUserPwdMapper.updateByUserNo*/
        update T_USER_PWD
        <set>
            <if test="loginPwdErrorNum != null">
                ERROR_NUM = #{loginPwdErrorNum,jdbcType=TINYINT},
            </if>
            <if test="userState != null">
                STATE = #{userState,jdbcType=TINYINT},
            </if>
            LOCK_AT = #{loginPwdLockAt,jdbcType=TIMESTAMP},
            UPDATE_AT = NOW()
        </set>
        where USER_NO = #{userNo,jdbcType=BIGINT}
        and PWD_TYPE = #{pwdType,jdbcType=TINYINT}
    </update>

    <update id="updatedByUserNo" parameterType="com.baofu.international.global.account.core.dal.model.UserPwdDo">
        /*TUserCustomerMapper.updatedByUserNo*/
        UPDATE
        T_USER_PWD
        SET
        <if test="pwd != null">
            PWD = #{pwd,jdbcType=VARCHAR},
        </if>
        <if test="state != null">
            STATE = #{state,jdbcType=TINYINT},
        </if>
        <if test="errorNum != null">
            ERROR_NUM = #{errorNum,jdbcType=TINYINT},
        </if>
        <if test="lockAt != null">
            LOCK_AT = #{lockAt,jdbcType=TIMESTAMP},
        </if>
        UPDATE_AT = NOW(),
        UPDATE_BY = #{updateBy,jdbcType=VARCHAR}
        WHERE
        USER_NO = #{userNo,jdbcType=BIGINT}
        and PWD_TYPE = #{pwdType,jdbcType=TINYINT}
    </update>

</mapper>