<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baofu.international.global.account.core.dal.mapper.UserWithdrawDistributeMapper">
  <resultMap id="BaseResultMap" type="com.baofu.international.global.account.core.dal.model.UserWithdrawDistributeDo">
    <id column="ID"                    jdbcType="INTEGER"   property="id" />
    <result column="USER_NO"           jdbcType="BIGINT"    property="userNo" />
    <result column="ORDER_ID"          jdbcType="BIGINT"    property="orderId" />
    <result column="WITHDRAW_BATCH_ID" jdbcType="BIGINT"    property="withdrawBatchId"/>
    <result column="WITHDRAW_ID"       jdbcType="BIGINT"    property="withdrawId" />
    <result column="ACCOUNT_NO"        jdbcType="BIGINT"    property="accountNo" />
    <result column="BANK_NAME"         jdbcType="VARCHAR"   property="bankName" />
    <result column="BANK_CARD_HOLDER"  jdbcType="VARCHAR"   property="bankCardHolder" />
    <result column="BANK_CARD_NO"      jdbcType="VARCHAR"   property="bankCardNo" />
    <result column="WITHDRAW_AMT"      jdbcType="DECIMAL"   property="withdrawAmt" />
    <result column="WITHDRAW_CCY"      jdbcType="CHAR"      property="withdrawCcy" />
    <result column="WITHDRAW_FEE"      jdbcType="DECIMAL"   property="withdrawFee" />
    <result column="DEST_AMT"          jdbcType="DECIMAL"   property="destAmt" />
    <result column="DEST_CCY"          jdbcType="CHAR"      property="destCcy" />
    <result column="TRANSFER_RATE"     jdbcType="DECIMAL"   property="transferRate" />
    <result column="DEDUCT_AMT"        jdbcType="DECIMAL"   property="deductAmt" />
    <result column="TRANSFER_STATE"    jdbcType="TINYINT"   property="transferState" />
    <result column="WITHDRAW_STATE"    jdbcType="TINYINT"   property="withdrawState" />
    <result column="SETTLE_FEE"        jdbcType="DECIMAL"   property="settleFee" />
    <result column="WITHDRAW_AT"       jdbcType="TIMESTAMP" property="withdrawAt" />
    <result column="STATUS"            jdbcType="TINYINT"   property="status" />
    <result column="REMARKS"           jdbcType="VARCHAR"   property="remarks" />
    <result column="CREATE_AT"         jdbcType="TIMESTAMP" property="createAt" />
    <result column="CREATE_BY"         jdbcType="VARCHAR"   property="createBy" />
    <result column="UPDATE_AT"         jdbcType="TIMESTAMP" property="updateAt" />
    <result column="UPDATE_BY"         jdbcType="VARCHAR"   property="updateBy" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, USER_NO, ORDER_ID, WITHDRAW_BATCH_ID, WITHDRAW_ID, ACCOUNT_NO, BANK_NAME, BANK_CARD_HOLDER,
    BANK_CARD_NO, WITHDRAW_AMT, WITHDRAW_CCY, WITHDRAW_FEE, DEST_AMT, DEST_CCY, TRANSFER_RATE, 
    DEDUCT_AMT, TRANSFER_STATE, WITHDRAW_STATE, SETTLE_FEE, WITHDRAW_AT, STATUS, REMARKS, 
    CREATE_AT, CREATE_BY, UPDATE_AT, UPDATE_BY
  </sql>

  <insert id="insert" parameterType="com.baofu.international.global.account.core.dal.model.UserWithdrawDistributeDo">
    INSERT INTO T_USER_WITHDRAW_DISTRIBUTE (
      USER_NO,
      ORDER_ID,
      WITHDRAW_ID,
      WITHDRAW_BATCH_ID,
      ACCOUNT_NO,
      BANK_NAME,
      BANK_CARD_HOLDER,
      BANK_CARD_NO,
      WITHDRAW_AMT,
      WITHDRAW_CCY,
      WITHDRAW_FEE,
      DEST_AMT,
      DEST_CCY,
      TRANSFER_RATE,
      DEDUCT_AMT,
      TRANSFER_STATE,
      WITHDRAW_STATE,
      SETTLE_FEE,
      WITHDRAW_AT,
      STATUS,
      REMARKS,
      CREATE_AT,
      CREATE_BY,
      UPDATE_AT,
      UPDATE_BY)
    VALUES (
      #{userNo,jdbcType=BIGINT},
      #{orderId,jdbcType=BIGINT},
      #{withdrawId,jdbcType=BIGINT} ,
      #{withdrawBatchId,jdbcType=BIGINT},
      #{accountNo,jdbcType=BIGINT},
      #{bankName,jdbcType=VARCHAR},
      #{bankCardHolder,jdbcType=VARCHAR},
      #{bankCardNo,jdbcType=VARCHAR},
      #{withdrawAmt,jdbcType=DECIMAL},
      #{withdrawCcy,jdbcType=CHAR},
      #{withdrawFee,jdbcType=DECIMAL},
      #{destAmt,jdbcType=DECIMAL},
      #{destCcy,jdbcType=CHAR},
      #{transferRate,jdbcType=DECIMAL},
      #{deductAmt,jdbcType=DECIMAL},
      #{transferState,jdbcType=TINYINT},
      #{withdrawState,jdbcType=TINYINT},
      #{settleFee,jdbcType=DECIMAL},
      #{withdrawAt,jdbcType=TIMESTAMP},
      #{status,jdbcType=TINYINT},
      #{remarks,jdbcType=VARCHAR},
      NOW(),
      #{createBy,jdbcType=VARCHAR},
      NOW(),
      #{updateBy,jdbcType=VARCHAR})
  </insert>

<select id="selectWithdrawDistribute" resultType="com.baofu.international.global.account.core.dal.model.WithdrawDistributeDo"
          parameterType="com.baofu.international.global.account.core.dal.model.WithdrawDetailsQueryDo">
    SELECT
    D.WITHDRAW_ID AS withdrawId,
    D.ORDER_ID AS distributeId,
    D.USER_NO AS userNo,
    D.BANK_CARD_HOLDER AS bankCardHolder,
    D.BANK_CARD_NO AS bankCardNo,
    D.DEST_AMT AS distributeAmount,
    D.WITHDRAW_STATE AS withdrawStatus,
    D.CREATE_AT AS applyTime,
    D.WITHDRAW_AT AS finishTime
    FROM
    CBCA.T_USER_WITHDRAW_DISTRIBUTE D
    WHERE 1=1
    <if test="userNo != null and userNo !=''">
      AND D.`USER_NO` = #{userNo}
    </if>
    <if test="withdrawId != null and withdrawId !=''">
      AND D.`WITHDRAW_ID` = #{withdrawId}
    </if>
    <if test="endDate!=null">
      AND D.CREATE_AT &lt;= #{endDate}
    </if>
    <if test="startDate!=null">
      AND D.CREATE_AT &gt;= #{startDate}
    </if>
    <if test="withdrawStatus != null and withdrawStatus !=''">
      AND D.WITHDRAW_STATE = #{withdrawStatus}
    </if>

  </select>

  <select id="selectDistributeByOrder" parameterType="java.lang.Long"  resultMap="BaseResultMap">
    /**UserWithdrawDistributeMapper.selectDistributeByOrder**/
    SELECT
    <include refid="Base_Column_List"/>
    FROM
    T_USER_WITHDRAW_DISTRIBUTE D
    WHERE 1 = 1
    <if test="orderId != null and orderId !=''">
      AND D.`ORDER_ID` = #{orderId}
    </if>
  </select>
</mapper>