<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baofu.international.global.account.core.dal.mapper.UserWithdrawFileUploadMapper">
    <resultMap id="BaseResultMap" type="com.baofu.international.global.account.core.dal.model.UserWithdrawFileUploadDo">
        <id column="ID" jdbcType="BIGINT" property="id"/>
        <result column="USER_NO" jdbcType="BIGINT" property="userNo"/>
        <result column="FILE_BATCH_NO" jdbcType="BIGINT" property="fileBatchNo"/>
        <result column="BATCH_NO" jdbcType="VARCHAR" property="batchNo"/>
        <result column="FILE_NAME" jdbcType="VARCHAR" property="fileName"/>
        <result column="RECORD_COUNT" jdbcType="INTEGER" property="recordCount"/>
        <result column="SUCCESS_COUNT" jdbcType="INTEGER" property="successCount"/>
        <result column="FAIL_COUNT" jdbcType="INTEGER" property="failCount"/>
        <result column="STATUS" jdbcType="VARCHAR" property="status"/>
        <result column="DFS_FILE_ID" jdbcType="BIGINT" property="dfsFileId"/>
        <result column="FILE_TYPE" jdbcType="VARCHAR" property="fileType"/>
        <result column="ORDER_TYPE" jdbcType="VARCHAR" property="orderType"/>
        <result column="ERROR_DFS_FILE_ID" jdbcType="BIGINT" property="errorDfsFileId"/>
        <result column="TOTAL_AMT" jdbcType="DECIMAL" property="totalAmt"/>
        <result column="CREATE_BY" jdbcType="VARCHAR" property="createBy"/>
        <result column="CREATE_AT" jdbcType="TIMESTAMP" property="createAt"/>
        <result column="UPDATE_AT" jdbcType="TIMESTAMP" property="updateAt"/>
        <result column="UPDATE_BY" jdbcType="VARCHAR" property="updateBy"/>
    </resultMap>
    <sql id="Base_Column_List">
        ID, USER_NO, FILE_BATCH_NO, BATCH_NO, FILE_NAME, RECORD_COUNT, SUCCESS_COUNT,
        FAIL_COUNT, STATUS, DFS_FILE_ID, FILE_TYPE, ORDER_TYPE, ERROR_DFS_FILE_ID, TOTAL_AMT,
        CREATE_BY, CREATE_AT, UPDATE_AT, UPDATE_BY
    </sql>
    <!-- 插入代报上传文件状态 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.baofu.international.global.account.core.dal.model.UserWithdrawFileUploadDo">
        /*TUserWithdrawFileUploadMapper.insert*/
        INSERT INTO T_USER_WITHDRAW_FILE_UPLOAD (
        USER_NO,
        FILE_NAME,
        RECORD_COUNT,
        SUCCESS_COUNT,
        FAIL_COUNT,
        STATUS,
        DFS_FILE_ID,
        FILE_TYPE,
        ORDER_TYPE,
        FILE_BATCH_NO,
        TOTAL_AMT,
        BATCH_NO,
        CREATE_BY,
        CREATE_AT,
        UPDATE_BY,
        UPDATE_AT
        ) VALUES (
        #{userNo},
        #{fileName},
        #{recordCount},
        #{successCount},
        #{failCount},
        #{status},
        #{dfsFileId},
        #{fileType},
        #{orderType},
        #{fileBatchNo},
        #{totalAmt},
        #{batchNo},
        #{createBy},
        NOW(),
        #{updateBy},
        NOW()
        )
    </insert>

    <!-- 更新代报上传文件状态 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.baofu.international.global.account.core.dal.model.UserWithdrawFileUploadDo">
        /*TUserWithdrawFileUploadMapper.updateByPrimaryKeySelective*/
        update T_USER_WITHDRAW_FILE_UPLOAD
        <set>
            <if test="recordCount != null">
                RECORD_COUNT = #{recordCount,jdbcType=VARCHAR},
            </if>
            <if test="orderType != null">
                ORDER_TYPE = #{orderType,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                STATUS = #{status,jdbcType=VARCHAR},
            </if>
            <if test="updateBy != null">
                UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="successCount != null">
                SUCCESS_COUNT = #{successCount,jdbcType=INTEGER},
            </if>
            <if test="failCount != null">
                FAIL_COUNT = #{failCount,jdbcType=INTEGER},
            </if>
            <if test="errorDfsFileId != null">
                ERROR_DFS_FILE_ID = #{errorDfsFileId,jdbcType=INTEGER},
            </if>
            <if test="totalAmt != null">
                TOTAL_AMT = #{totalAmt,jdbcType=DECIMAL},
            </if>
            <if test="dfsFileId != null">
                DFS_FILE_ID = #{dfsFileId,jdbcType=BIGINT},
            </if>
            UPDATE_AT = NOW()
        </set>
        where FILE_BATCH_NO = #{fileBatchNo,jdbcType=BIGINT}
    </update>

    <!-- 根据订单批次号更新数据 -->
    <update id="updateFileByBatch" parameterType="com.baofu.international.global.account.core.dal.model.UserWithdrawFileUploadDo">
        /*TUserWithdrawFileUploadMapper.updateFileByBatch*/
        update T_USER_WITHDRAW_FILE_UPLOAD
        <set>
            <if test="status != null">
                STATUS = #{status,jdbcType=VARCHAR},
            </if>
            UPDATE_AT = NOW()
        </set>
        where BATCH_NO = #{batchNo,jdbcType=VARCHAR}
    </update>

    <!-- 根据汇款批次号查询 -->
    <select id="queryByBatchNo" parameterType="java.lang.String" resultMap="BaseResultMap">
        /*TUserWithdrawFileUploadMapper.queryByBatchNo*/
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        T_USER_WITHDRAW_FILE_UPLOAD
        WHERE
        BATCH_NO = #{batchNo}
    </select>
</mapper>