<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baofu.international.global.account.core.dal.mapper.UserAccountBalMapper">
    <resultMap id="BaseResultMap" type="com.baofu.international.global.account.core.dal.model.UserAccountBalDo">
        <id column="ID"                         jdbcType="BIGINT"       property="id"/>
        <result column="USER_NO"                jdbcType="BIGINT"       property="userNo"/>
        <result column="ACCOUNT_NO"             jdbcType="BIGINT"       property="accountNo"/>
        <result column="CCY"                    jdbcType="CHAR"         property="ccy"/>
        <result column="CHANNEL_ID"             jdbcType="BIGINT"       property="channelId"/>
        <result column="ACCOUNT_BAL"            jdbcType="DECIMAL"      property="accountBal"/>
        <result column="AVAILABLE_AMT"          jdbcType="DECIMAL"      property="availableAmt"/>
        <result column="WITHDRAW_PROCESS_AMT"   jdbcType="DECIMAL"      property="withdrawProcessAmt"/>
        <result column="WAIT_AMT"               jdbcType="DECIMAL"      property="waitAmt"/>
        <result column="CREATE_AT"              jdbcType="TIMESTAMP"    property="createAt"/>
        <result column="CREATE_BY"              jdbcType="VARCHAR"      property="createBy"/>
        <result column="UPDATE_AT"              jdbcType="TIMESTAMP"    property="updateAt"/>
        <result column="UPDATE_BY"              jdbcType="VARCHAR"      property="updateBy"/>
    </resultMap>
    <sql id="Base_Column_List">
        ID,
        USER_NO,
        ACCOUNT_NO,
        CCY,
        CHANNEL_ID,
        ACCOUNT_BAL,
        AVAILABLE_AMT,
        WITHDRAW_PROCESS_AMT,
        WAIT_AMT,
        CREATE_AT,
        CREATE_BY,
        UPDATE_AT,
        UPDATE_BY
    </sql>

    <insert id="insert" parameterType="com.baofu.international.global.account.core.dal.model.UserAccountBalDo">
      /**TUserAccountBalMapper.insert*/
        INSERT INTO T_USER_ACCOUNT_BAL
        (
        USER_NO,
        CCY,
        CHANNEL_ID,
        ACCOUNT_BAL,
        AVAILABLE_AMT,
        WITHDRAW_PROCESS_AMT,
        ACCOUNT_NO,
        WAIT_AMT,
        CREATE_AT,
        CREATE_BY,
        UPDATE_AT,
        UPDATE_BY)
        VALUES (
        #{userNo,jdbcType=BIGINT},
        #{ccy,jdbcType=CHAR},
        #{channelId,jdbcType=BIGINT},
        #{accountBal,jdbcType=DECIMAL},
        #{availableAmt,jdbcType=DECIMAL},
        #{withdrawProcessAmt,jdbcType=DECIMAL},
        #{accountNo,jdbcType=BIGINT},
        #{waitAmt,jdbcType=DECIMAL},
        NOW(),
        #{createBy,jdbcType=VARCHAR},
        NOW(),
        #{updateBy,jdbcType=VARCHAR}
        )
    </insert>

  <!-- 根据用户号，币种，渠道号查询账户余额信息 -->
  <select id="selectBalByAccNo"  resultMap="BaseResultMap">
      /**TUserAccountBalMapper.selectBalByAccNo*/
      select
      <include refid="Base_Column_List" />
    from
      T_USER_ACCOUNT_BAL
    where
      USER_NO = #{userNo,jdbcType=BIGINT}
    AND
      ACCOUNT_NO =#{accountNo,jdbcType=BIGINT}
  </select>

    <!--更新用户余额-->
    <update id="updateAccountBal" parameterType="com.baofu.international.global.account.core.dal.model.UserAccountBalDo">
      /**TUserAccountBalMapper.updateAccountBal*/
        UPDATE
          T_USER_ACCOUNT_BAL
        SET
        <if test="accountBal != null ">
            ACCOUNT_BAL =  #{accountBal},
        </if>
        <if test="availableAmt != null ">
            AVAILABLE_AMT = #{availableAmt},
        </if>
        <if test="withdrawProcessAmt != null ">
            WITHDRAW_PROCESS_AMT = #{withdrawProcessAmt},
        </if>
        <if test="waitAmt != null ">
            WAIT_AMT = #{waitAmt},
        </if>
          UPDATE_AT=NOW()
        WHERE
          USER_NO = #{userNo,jdbcType=BIGINT}
        AND
        ACCOUNT_NO =#{accountNo,jdbcType=BIGINT}
    </update>
</mapper>