.bank-btn button.current{
    color: #fff;
    border: none;
    background-color: #2784ec;
}

.hide{
    display: none;
}

.address{
    font-size: 12px;
    color: red;
    text-align: left;
}
.address em{
    width: 10px;
    height: 10px;
    margin-top: 3px;
    margin-left: 370px;
    background: url("../images/bank-spirite.png") no-repeat -20px -20px;
}

.btn-box button:disabled {
    background-color: #bbb;
    cursor: auto;
}