/* 初始化 E */
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td, img {
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}
body{
    height: 100%;
}
body {
    font-family: Microsoft Yahei, Tahoma, Arial, Hiragino Sans GB, Helvetica, Verdana, "\5b8b\4f53";
    color: #919191;
    min-width: 1200px;
    font-size: 14px;
}

td, th, caption {
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 100%;
}

a {
    color: #919191;
    text-decoration: none;
}

s, em, i {
    font-style: normal;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

img {
    border: none;
    vertical-align: middle;
}

ol, ul, li {
    list-style: none;
}

input, textarea, select, button, textarea {
    outline: none;
    border: none;
    background: transparent;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    resize: none;
    font-family: Microsoft Yahei;
}
button{
    cursor: pointer;
}
select::-ms-expand {
    display: none;
}

table {
    border-collapse: collapse;
}
.fz-c-red{
    color: red;
}
.clearfix:after, .clearfix:before {
    content: "";
    display: block;
    height: 0;
    line-height: 0;
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.none {
    display: none;
}

.block {
    display: block;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.bold {
    font-weight: bold;
}

.w1200 {
    max-width: 1200px;
    margin: 0 auto;
}

.w1080 {
    min-width: 1080px;
    margin: 0 auto;
}
.mw1200 {
    min-width: 1200px;
    margin: 0 auto;
}
.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.main-color{
    color: #2784ec;
}
/*placeholder 颜色问题*/
::-webkit-input-placeholder {
    color: #d3d3d3;
}

:-moz-placeholder {
    color: #d3d3d3;
}

::-moz-placeholder {
    color: #d3d3d3;
}

:-ms-input-placeholder {
    color: #d3d3d3;
}

/*去除ie下input删除功能*/
input::-ms-clear {
    display: none;
}

/*不固定宽高居中*/
.table {
    display: table;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
}

/* 初始化 E */

/* 按钮 */
/*.register {*/
    /*display: block;*/
    /*width: 285px;*/
    /*height: 50px;*/
    /*line-height: 50px;*/
    /*text-align: center;*/
    /*color: #fff;*/
    /*font-size:16px;*/
    /*background-color: #2784ec;*/
    /*-webkit-border-radius: 12px;*/
    /*-moz-border-radius: 12px;*/
    /*border-radius: 12px;*/
/*}*/
.register{
    display: block;
    width: 180px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    margin-left: 30px;
    background-color: #2784ec;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}
.register:hover {
    background-color: #ffc000;
}

.btn-box button,.btn-box a {
    width: 160px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    margin-top: 20px;
    text-align: center;
    background-color: #2784ec;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
.btn-box a{
    display: block;
}
.btn-box button:hover ,.btn-box a:hover{
    background-color: #0862c7;
}

.btn-box .cancel-btn {
    background-color: #d3d3d3;
    margin-left: 14px;
}

.btn-box .cancel-btn:hover {
    background-color: #919191;
}
.item-btn{
    margin-left: 365px;
}
/* 联系我们 */
.contact-us {
    position: fixed;
    right: 30px;
    top: 70%;
}

.contact-us li {
    position: relative;
    display: block;
    width: 64px;
    height: 64px;
    margin-top: 10px;
    cursor: pointer;
}

.same-service {
    width: 50px;
    height: 50px;
}

.customer-pic {
    width: 64px;
    height: 64px;
    background: url("../images/spirite2.png") no-repeat;

}

.customer-service:hover .code-pic {
    position: absolute;
    top: -10px;
    right: 70px;
    display: block;
}

.chat-pic {
    width: 64px;
    height: 64px;
    background: url("../images/spirite2.png") no-repeat 0 -72px;
}

.we-chat:hover .num-pic {
    position: absolute;
    top: -70px;
    right: 70px;
    display: block;
}

/* 首页头部尾部 */
.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 75px;
    line-height: 75px;
    z-index: 10;
}

.header-left img {
    height: 40px;
}

.header-right ul li {
    float: left;
    margin-left: 50px;
}

.header-right ul li a {
    color: #fff;
}
.header a:hover{
    color: #2784ec;
}
.index-footer {
    width: 100%;
    padding-top: 60px;
    color: #fff;
    background: url("../images/footer-bg.png") no-repeat center;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.index-footer a:hover{
    color: #2784ec;
}
.footer-logo img {
    width: 300px;
}

.tel-box {
    width: 300px;
}

.tel-box p {
    line-height: 26px;
}

.tel-box .num {
    font-size: 18px;
}

.tel-icon {
    margin-top: 9px;
}

.tel-icon img {
    width: 35px;
    width: 35px;
    margin-right: 20px;
}

.footer-middle {
    width: 100%;
    padding-bottom: 45px;
    margin-top: 25px;
    border-bottom: 2px solid #5a5c62;
}

.footer-middle ul li {
    margin-top: 20px;
    margin-left: 30px;
}

.footer-middle ul li a {
    color: #fff;
}

.footer-bottom {
    padding: 30px 0 40px 30px;
}

/* 登录头部 */
.login-header .header-left img {
    height: 40px;
}
.login-header .header-right img {
    margin-right: 10px;
}

.login-header .header-right span {
    color: #136fa9;
}

/* 协议头部 */
.agreement-header {
    position: relative;
    width: 100%;
    background-color: #fff;
    z-index: 10;
}

.agreement-header .header-right a {
    color: #1b7ab2;
}

.agreement-header a.register {
    display: block;
    width: 140px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    margin-left: -10px;
    margin-top: 17px;
}

/* 公用底部 */
.footer{
    height: 100px;
    padding-top: 20px;
    text-align: center;
    background-color: #fff;
    /*margin-top: -120px;*/
}
.footer a:hover{
    color: #2784ec;
}
.footer-about-us ul{
    display: inline-block;
}
.footer-about-us ul li{
    float: left;
    margin: 0 8px;
}

.footer-copyright{
    font-size: 12px;
    margin-top: 20px;
}
/* 登录后的公用头部 */
.header-middle{
    margin-left: 90px;
}
.header-middle ul li{
    float: left;
    margin-left: 42px;
}
.header-middle ul li a.active{
    color: #2784ec;
    font-weight: bold;
}
.header-right .btn-box a{
    display: block;
    width: 110px;
    height: 40px;
    line-height: 38px;
    color: #fff;
    margin-top: 18px;
    margin-right: 15px;
}

.btn-box .add-btn{
    background-color: #39b506;
}
.header-right .add-btn:hover{
    background-color: #029202;
}
.header-right .btn-box i{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-top: -2px;
    vertical-align: middle;
    background: url("../images/bank-spirite.png") no-repeat -30px 0;
}
.header-right .add-btn i{
    background-position: -30px -30px;
}
.account-setting{
    position: relative;
    width: 80px;
    background: url("../images/select-arrow.png") no-repeat center right;
}
.account-setting:hover .two-level-menu{
    display: block;
}
.two-level-menu{
    position: absolute;
    top: 66px;
    left: -11px;
    border-top: 1px solid #2784ec;
    background-color: #fff;
    -webkit-box-shadow: 0 0 10px 4px #eee;
    -moz-box-shadow: 0 0 10px 4px #eee;
    box-shadow: 0 0 10px 4px #eee;
}
.header-middle .two-level-menu li{
    width: 84px;
    margin-left: 0;
    padding-left: 12px;
    height: 40px;
    line-height: 40px;
}
/* input框 */
.input-box {
    position: relative;
    width: 336px;
    min-height:60px;
    margin:0 auto;
}

.input-box i {
    position: absolute;
    top: 9px;
    left: 10px;
    width: 25px;
    height: 20px;
    background: url("../images/login-spirite.png") no-repeat;
}

.input-box .password-iocn {
    background-position: 0 -25px;
}

.input-box input {
    width: 288px;
    height: 34px;
    font-size: 14px;
    line-height: 34px;
    padding-left: 45px;
    border: 1px solid #919191;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.input-tip{
    font-size: 12px;
    color: red;
    text-align: left;
    line-height: 20px;
}
.input-tip em{
    width: 10px;
    height: 10px;
    margin-top: 5px;
    margin-right: 5px;
    background: url("../images/bank-spirite.png") no-repeat -20px -20px;
}
.input-tip s{
    color: #919191;
}
/* 验证码框 */
.verification-code-box i{
    background-position: 0 -50px;
}
.verification-code-box input{
    width: 160px;
}
.verification-code-box a{
    width: 116px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    margin-left: 10px;
    border: 1px solid #919191;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.verification-bank a{
    width: 97px;
}
.verification-code-box a:hover{
    background-color: #fafafa;
}
.item-left{
    width: 335px;
    line-height: 42px;
    text-align: right;
    margin-right: 30px;
    color: #424242;
}
.verification-item{
    margin-top: 35px;
}
.item-right{
    min-height: 55px;
    line-height: 42px;
    color: #424242;
}
.same-item .input-box input{
    width: 318px;
    padding-left: 15px;
}
.same-item .verification-code-box input{
    width: 210px;
}
/* select框 */
.select-box{
    width: 335px;
    height: 36px;
    font-size: 14px;
    line-height: 36px;
    padding-left: 15px;
    background: url("../images/select-arrow.png") no-repeat right center;
    border: 1px solid #919191;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.small-select{
    width: 100px;
    margin-right: 10px;
}
.last-select{
    width: 107px;
    margin-right: 0;
}
/* textarea框 */
.textarea-box textarea{
    width: 316px;
    height: 80px;
    padding: 10px;
    border: 1px solid #919191;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

/* 成功提示 */
.success-box{
    /*width: 330px;*/
    margin: 0 auto;
    text-align: center;
}
.success-box img{
    margin-top: 20px;
}
.success-box p{
    font-size: 18px;
    line-height: 30px;
    margin-top: 20px;
    color: #000;
}
.success-box .fz16{
    font-size: 16px;
    color: #666;
    margin-top: 10px;
}
.success-btn{
    margin-left: 0;
    margin-top: 20px;
}
.title-left .holder-pic{
    background: url("../images/holder.png") no-repeat;
}
/* 阅读协议 */
.read-agreement{
    font-size: 14px;
    text-align: left;
}

.checkbox{
    width: 16px;
    height: 16px;
    margin-right: 5px;
    margin-left: 370px;
    background: url("../images/c-box.png") no-repeat center;
    vertical-align: middle;
    cursor: pointer;
}
.checkbox:checked{
    background: url("../images/c-active.png") no-repeat center;
}
/* 顶部提示框 */
.top-tip{
    width: 100%;
    height: 70px;
    line-height:70px;
    background-color: rgba(27,151,250,.75);
    position: fixed;
    top: -70px;
    left: 0;
    text-align: center;
    color: #fff;
    z-index: 9999;

}
.top-tip img{
    margin-right:10px;
}
.top-tip span{
    vertical-align: middle;
}
.top-tip.show{
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.top-tip .close-btn{
    width: 20px;
    height: 20px;
    margin-right: 20px;
    margin-top: 10px;
    cursor: pointer;
    background: url("../images/close.png") no-repeat;
}
/* 表格 */
.same-layout .query-bottom{
    padding-left: 40px;
    padding-top: 10px;
}
.table-box table{
    width: 1040px;
    text-align: left;
}
.table-box table th{
    color: #424242;
    height: 60px;
}
.table-box table td{
    min-width: 65px;
    max-width: 100px;
    height: 65px;
    vertical-align: top;
}
.table-box .state span{
    display: inline-block;
    width: 54px;
    height: 32px;
    line-height: 32px;
    color: #fff;
    text-align: center;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background-color: #48c204;
}
.table-box .state-withdrawals span{
    background-color: #2784ec;
}
.table-box .state-fail span{
    background-color: #919191;
}
.pagination{
    margin-bottom: 40px;
}
.pagination a:hover{
    color: #2784ec;
}
.pagination ul{
    float: left;
    height: 32px;
    border: 1px solid #919191;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.pagination ul li{
    float: left;
    line-height: 32px;
    padding: 0 11px;
    text-align: center;

}
.pagination ul li a{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.pagination ul .page-num{
    padding: 0;
    text-align: center;
    background-color: #2784ec;
}

.pagination .page-num select{
    min-width: 35px;
    line-height: 32px;
    color: #fff;
    padding-left: 13px;
    padding-right: 13px;
    cursor: pointer;
}
.pagination .page-num select option{
    min-width: 35px;
    line-height: 92px;
    overflow: auto;
    height: 30px;
    color: #424242;
}

.pagination .page{
    border-left: 1px solid #919191;
    border-right: 1px solid #919191;
}
/* 模态框 */
.modal-box {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
.modal-box.none{
    display: none;
}
.modal-box.block{
    display: block;
}
.popup-box{
    width: 450px;
    margin: 100px auto;
    padding: 40px 0;
    text-align: center;
    background-color: #fff;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
.popup-box p{
    line-height: 26px;
}
.popup-box img{
    margin-top: 30px;
    margin-bottom: 20px;
}
.popup-box .btn-box button{
    font-size: 16px;
}
.search-bank-box{
    position: relative;
}
.choice-banks{
    width: 26px;
    height: 5px;
    background: url("../images/select-arrow.png") no-repeat center right;
}
.search-content {
    position: absolute;
    top: 35px;
    left: 0;
    width: 333px;
    height: 120px;
    overflow: auto;
    border: 1px solid #919191;
    background-color: #fff;
    z-index: 99;
}
.search-content p{
    color: #424242;
    line-height: 26px;
    padding-left: 15px;
}
.search-content p:hover{
    background-color: #d3d3d3;
}
.dropdown {
    animation: drop 1s;
    -webkit-animation: drop 1s;
}



@-webkit-keyframes drop {
    0% {
        -webkit-transform: translate(0, -2000px);
        -moz-transform: translate(0, -2000px);
        -ms-transform: translate(0, -2000px);
        -o-transform: translate(0, -2000px);
        transform: translate(0, -2000px);
        opacity: 0;
    }
    60% {
        -webkit-transform: translate(0, 25px);
        -moz-transform: translate(0, 25px);
        -ms-transform: translate(0, 25px);
        -o-transform: translate(0, 25px);
        transform: translate(0, 25px);
        opacity: 1;
    }
    75% {
        -webkit-transform: translate(0, -15px);
        -moz-transform: translate(0, -15px);
        -ms-transform: translate(0, -15px);
        -o-transform: translate(0, -15px);
        transform: translate(0, -15px);
    }
    90% {
        -webkit-transform: translate(0, 10px);
        -moz-transform: translate(0, 10px);
        -ms-transform: translate(0, 10px);
        -o-transform: translate(0, 10px);
        transform: translate(0, 10px);
    }
    100% {
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}
@keyframes drop {
    0% {
        -webkit-transform: translate(0, -2000px);
        -moz-transform: translate(0, -2000px);
        -ms-transform: translate(0, -2000px);
        -o-transform: translate(0, -2000px);
        transform: translate(0, -2000px);
        opacity: 0;
    }
    60% {
        -webkit-transform: translate(0, 25px);
        -moz-transform: translate(0, 25px);
        -ms-transform: translate(0, 25px);
        -o-transform: translate(0, 25px);
        transform: translate(0, 25px);
        opacity: 1;
    }
    75% {
        -webkit-transform: translate(0, -15px);
        -moz-transform: translate(0, -15px);
        -ms-transform: translate(0, -15px);
        -o-transform: translate(0, -15px);
        transform: translate(0, -15px);
    }
    90% {
        -webkit-transform: translate(0, 10px);
        -moz-transform: translate(0, 10px);
        -ms-transform: translate(0, 10px);
        -o-transform: translate(0, 10px);
        transform: translate(0, 10px);
    }
    100% {
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}