
.header-left{
    line-height: 63px;
}
.header-middle{
    margin-left: 90px;
    line-height: 70px;
}
.header-middle a{
    color: #666;
}
.header-middle .transaction{
    margin-left: 50px;
}
.header-right{
    font-size: 14px;
}
.header-right ul li{
    float: left;
    margin-left: 24px;
}
.header-right ul li:nth-child(2){
    margin-left: 16px;
}
.header-right ul li a{
    color: #666;
}
.header-right ul li a:hover{
    color: #1b9af7;
}
/* -- 个人中心 -- */
.people-center{
    padding: 30px 0 80px 0;
    background-color: #f3f7fa;
    border-bottom: 1px solid #e5e5e5;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.center-content{
    height: 750px;
    min-height: 550px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
}
.center-left{
    width: 220px;
    height: 100%;
    min-height: 550px;
    padding: 20px 0  0 40px;
    border-right: 1px solid #e5e5e5;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.c-left-title{
    height: 50px;
    line-height: 50px;
    color: #333;
}
.c-left-menu p{
    font-size:14px;
    color: #666;
    padding-top:20px;
}
.c-left-menu p span{
    color: #333;
}
.menu-list{
    width: 100%;
    height: 100%;
}
.menu-list li i.security-active{
    background-position: -23px 0;
}
.menu-list li i.name-active{
    background-position: -23px -25px;
}
.menu-list li i.bank-active{
    background-position: -23px -50px;
}
.menu-list li{
    width: 100%;
    height: 50px;
    line-height: 50px;
}
.menu-list li i{
    float: left;
    width: 20px;
    height: 20px;
    margin-top: 15px;
    background: url("../images/person-center.png") no-repeat;
}
.menu-list li a{
    margin-left: 16px;
}
.menu-list li:hover a{
    color: #1b9af7;
}
.menu-list li .security-icon{
    background-position: 0 0;
}
.menu-list li:hover .security-icon{
    background-position: -23px 0;
}
.menu-list li .name-icon{
    background-position: 0 -25px;
}
.menu-list li:hover .name-icon{
    background-position: -23px -25px;
}
.menu-list li .bank-icon{
    background-position: 0 -50px;
}
.menu-list li:hover .bank-icon{
    background-position: -23px -50px;
}
.center-right{
    width: 978px;
}
.c-r-title{
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #e5e5e5;
    padding: 30px 0 0 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #333;
}
/* 安全设置 */
.security-content{
    padding: 40px 40px 80px 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.security-top{
    border-bottom: 1px solid #eee;
}
.account{
    font-size: 14px;
    margin-bottom: 20px;
}
.account-left{
    width: 110px;
    text-align: right;
    margin-right: 40px;
    color: #999;
}
.account{
    color: #333;
}
span.same-icon i{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 20px;
    margin-right: 10px;
    vertical-align: middle;
    background: url("../images/user-spirit.png") no-repeat;
    background-position: 0 -25px;
}
.pass{
    color: #1b97fa;
}
.pass .pass-icon{
    background-position: 0 0;
}
.not-pass{
    color: #d9534f;
} 
.audit{
    color: #f0ad4e;
}
.about-password{
    height: 54px;
    line-height: 54px;
    font-size: 14px;
    border-bottom: 1px solid #eee;
}
.pwd-left .p-l-item{
    width: 110px;
    font-weight: bold;
    text-align: right;
    color: #333;
    margin-right: 40px;
}
.about-password span{
    color: #999;
}
.pwd-right .modification{
    margin-right: 40px;
}
.pwd-right .modification:hover{
    text-decoration: underline;
}
.pwd-right .line{
    display: inline-block;
    width: 2px;
    height: 14px;
    background-color: #999;
    margin: -2px 5px;
}
/* 实名认证 */
.authentication-content{
    padding-top: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.aut-item{
    font-size: 14px;
    margin-top: 20px;
}
.aut-left{
    float: left;
    width: 150px;
    text-align: right;
    color: #999;
    margin-right: 40px;
}
.aut-item{
    color: #333;
}
.aut-item .not-pass-icon{
    margin-left: 0;
}
.aut-flow{
    font-size: 14px;
    color: #333;
    margin: 40px;
}

.search-cc{
    display: block;
    width: 60px;
    height: 60px;
    margin: 20px auto 10px;
    background: url("../images/flow-spirit.png") no-repeat;
}

.flow-chart{
    width: 900px;
    height: 130px;
    margin-left: 40px;
    background: url("../images/flow2.png") no-repeat;
}
.flow-chart ul li{
    float: left;
    width: 33.33%;
    text-align: center;
}
.flow-chart ul li i{
    display: block;
    width: 60px;
    height: 60px;
    margin: 20px auto 10px;
    background: url("../images/flow-spirit.png") no-repeat;
}
.flow-chart ul li span{
    font-size: 14px;
    color: #333;
}
.flow-chart ul li i.submit-icon{
    background-position: 0 -70px;
}
.flow-chart ul li i.audit-icon{
    background-position: 0 0;
}
.flow-chart ul li i.success-icon{
    background-position: 0 -140px;
}
/* 提现银行卡 */
.same-card{
    width: 360px;
    height: 180px;
    margin-left: 40px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    margin-bottom:20px;
}
.bank-card{
    border: 1px solid #bae1fd;
    background-color: #f3faff;
}
.bank-card .card-left{
    margin-top: 64px;
    margin-left: 40px;
}
.card-left img{
    width: 44px;
    height: 44px;
}
.card-right{
    width: 260px;
    font-size: 14px;
    color: #333;
    margin-top: 48px;
    margin-left: 10px;
}
.card-right p{
    margin-top: 12px;
}
.card-right p span{
    margin-left: 15px;
}
.delete-btn{
    height: 20px;
    margin-top: 30px;
    text-align: right;
}
.delete-btn a{
    font-size: 14px;
    margin-right: 40px;
}
.delete-btn a:hover{
    text-decoration: underline;
}
.add-bank{
    text-align: center;
    border: 1px dashed #e5e5e5;
}
.add-bank:hover a p{
    color: #1b9af7;
}
.add-bank a{
    display: block;
    width: 100%;
    height: 100%;
}
.add-bank img{
    margin-top: 60px;
}
.add-bank p{
    font-size: 14px;
    color: #999;
    margin-top: 30px;
}

/* -- 交易查询 -- */
.menu-list li i.entry-active{
    background-position: -23px 0;
}
.menu-list li i.expenditure-active{
    background-position: -23px -25px;
}
.menu-list li i.withdrawals-active{
    background-position: -23px -50px;
}
.query-list li i{
    background: url("../images/query-spirit.png") no-repeat;
}
.menu-list li .entry-icon{
    background-position: 0 0;
}
.menu-list li:hover .entry-icon{
    background-position: -23px 0;
}
.menu-list li .expenditure-icon{
    background-position: 0 -25px;
}
.menu-list li:hover .expenditure-icon{
    background-position: -23px -25px;
}
.menu-list li .withdrawals-icon{
    background-position: 0 -50px;
}
.menu-list li:hover .withdrawals-icon{
    background-position: -23px -50px;
}
.entry-content{
    font-size: 14px;
    padding: 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.entry-information{
    margin-bottom: 20px;
}
.entry-i-left{
    height: 36px;
    line-height: 36px;
}
.entry-i-right .select-box{
    width: 180px;
    height: 34px;
    color: #ccc;
    border: 1px solid #ddd;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    padding: 0 30px 0 8px;
    margin:0 30px 0 10px;
    background: url("../images/select-arrow.png") no-repeat right center;
    cursor: pointer;
}
.entry-i-right .date-box{
    width: 170px;
    height: 36px;
    line-height: 36px;
    padding-left: 10px;
    margin-left: 10px;
    border: 1px solid #ddd;
}
.entry-i-right .date-box i{
    width: 18px;
    height: 18px;
    margin-top: 8px;
    margin-right: 10px;
    background: url("../images/date.png") no-repeat;
}

.entry-i-right .date-box1 i{
    width: 18px;
    height: 18px;
    margin-top: 8px;
    margin-left: -120px;
    background: url("../images/date.png") no-repeat;
}

.entry-i-right .hyphens{
    line-height: 36px;
    margin: 0 -5px 0 5px;
}
.entry-i-right .time-item{
    height: 36px;
    line-height: 36px;
    margin-left: 30px;
}
.entry-i-right .time-item a{
    color: #666;
    margin-right: 20px;
}
.entry-i-right .time-item a:hover{
    color: #1b9af7;
}
.entry-i-right .time-item a.time-active{
    color: #1b9af7;
}
.entry-btn-box input{
    height: 36px;
    line-height: 36px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
}
.entry-btn-box .query-btn{
    width: 120px;
    text-align: center;
    color: #fff;
    background-color: #1b9af7;
}
.entry-btn-box .reset-btn{
    width: 100px;
    color: #666;
    border: 1px solid #ddd;
    margin-left: 20px;
}
.entry-btn-box .reset-btn:hover{
    background-color: #fafafa;
}
.entry-bottom{
    margin-top: 40px;
}
.table-box{
    min-height: 180px;
}
.table-box table{
    width: 100%;
    color: #333;
    margin-top: 23px;
    text-align: center;
    border: 1px solid #eee;
}
.table-box tr{
    height: 44px;
    margin-left: 40px;
    border-bottom: 1px solid #eee;
}
.table-box th,.table-box td{
    font-size: 14px;
    text-align: left;
    padding-left:30px;
}


.table-box td a{
    color: #1B9AF7;
    margin-right:20px;
}
.table-box td a:hover{
    text-decoration: underline;
}
.table-box .thead{
    background-color: #fafafa;
}
.table-box .thead th{
    font-weight: normal;
    color: #666;
}

.no-record{
    height: 200px;
    border: 1px solid #eee;
    border-top: none;
    text-align: center;
}
.no-record img{
    margin-top: 50px;
    margin-bottom: 10px;
}
.pagination{
    font-size: 14px;
    height: 44px;
    line-height: 44px;
    color: #666;
    margin-top: 25px;
}

.page-btn a{
    color: #666;
    margin-right:16px;
}
.page-btn a:hover{
    color: #1b97fa;
}
.total-box{
    color: #666;
    margin-right:16px;
}
.total-box select{
    width: 71px;
    height: 22px;
    line-height: 22px;
    padding-left: 19px;
    border: 1px solid #ccc;
    z-index: 10;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    background: url("../images/select-arrow.png") no-repeat right center;
}
.total-page{
    color: #666;
}
.download-btn-global{
    width: 100px;
    height: 34px;
    line-height: 36px;
    margin-top: 3px;
    border: 1px solid #ddd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    color: #333;
}

.download-btn{
    width: 100px;
    height: 36px;
    line-height: 36px;
    margin-top: 3px;
    border: 1px solid #ddd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    color: #333;
}
.download-btn:hover{
    background-color: #fafafa;
}

/* 提现查询 */
.withdrawals-table table{
    padding-right: 20px;
}

.withdrawals-table tr{
    height: 64px;
}
.withdrawals-table tr span{
    color: #999;
}
.withdrawals-table tr td:last-child{
    width: 65px;
}
.fail-color{
    color: red;
}

/* 账户详情 */
.details-layout{
    padding-top: 20px;
}
.breadcrumb{
    font-size: 14px;
    margin-bottom: 20px;
}
.breadcrumb span{
    color: #333;
}
.current-details{
    color: #999;
}
.hint-box{
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #f0ad4e;
    padding-left: 20px;
    background-color: #fefbf6;
    border: 1px solid #f0ad4e;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.hint-box i{
    width: 24px;
    height: 24px;
    margin-top: 7px;
    margin-right: 10px;
    background: url("../images/account-spirit.png") no-repeat ;
}
.details-container{
    padding: 10px 40px 60px 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.amazon-account{
    color: #333;
    margin-bottom: 20px;
}
.a-a-left img{
    margin-right:20px;
}
.a-a-left i{
    float: left;
    width: 20px;
    height: 20px;
    margin-left: 20px;
    margin-right: 10px;
    background: url("../images/account-spirit.png") no-repeat;
    background-position: 0 -30px;
}
.a-a-left .function{
    color: #999;
    font-size:14px;
}
.a-a-left .function i{
    background-position: 0 -55px;
}
.a-a-right a{
    display: block;
    width: 158px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.a-a-right a:hover{
    background-color: #fafafa;
}
.balance-box.details-balance{
    width: 100%;
}
.details-bank-card{
    width: 280px;
    height: 120px;
    background-color: #fff;
    border: 1px solid #eee;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-left: 13px;
}
.details-bank-card .card-left{
    margin: 30px 0 0 30px;
}
.details-bank-card .card-right{
    width: 190px;
    margin-top: 20px;
}
.details-bank-card .card-right p{
    margin-top: 7px;
}
.account-details{
    font-size: 14px;
    color: #333;
}
.account-details .a-d-item:last-child{
    margin-bottom: 0;
}
.a-d-item{
    margin-bottom: 20px;
}
.details-item-left{
    width: 250px;
}
.col-nine{
    color: #999;
}
.fill-in{
    margin-left: 20px;
}
.binding-account{
    font-size:14px;
    color: #333;
    text-align: right;
    margin-top: 80px;
}
.binding-account p{
    margin-bottom: 20px;
}
.account-details-box a:hover{
    text-decoration: underline;
}

.store-left{
    color: #333;
}
.store-left img{
    margin-right: 20px;
}
.store-right{
    line-height: 45px;
    font-size:14px;
}
.supplemental-links{
    width: 160px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    color: #fff;
    margin-left: 30px;
    background-color: #1b97fa;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.supplemental-links:hover{
    background-color: rgba(27,151,250,.9);
}

