<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baofu.cbpayservice.dal.mapper.ChannelGroupMapper" >

    <resultMap id="BaseResultMap" type="com.baofu.cbpayservice.dal.models.FiCbPayChannelGroupDo">
        <id     column="ID"                     property="id"               jdbcType="BIGINT"/>
        <result column="RECORD_ID"              property="recordId"         jdbcType="BIGINT"/>
        <result column="GROUP_ID"               property="groupId"          jdbcType="BIGINT"/>
        <result column="CCY"                    property="ccy"              jdbcType="VARCHAR"/>
        <result column="CHANNEL_ID"             property="channelId"        jdbcType="BIGINT"/>
        <result column="REMARKS"                property="remarks"          jdbcType="VARCHAR"/>
        <result column="CREATE_AT"              property="createAt"         jdbcType="TIMESTAMP"/>
        <result column="CREATE_BY"              property="createBy"         jdbcType="VARCHAR"/>
        <result column="UPDATE_AT"              property="updateAt"         jdbcType="TIMESTAMP"/>
        <result column="UPDATE_BY"              property="updateBy"         jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,
        RECORD_ID,
        GROUP_ID,
        CCY,
        CHANNEL_ID,
        REMARKS,
        CREATE_AT,
        CREATE_BY,
        UPDATE_AT,
        UPDATE_BY
    </sql>

    <!--新增渠道分组信息编号-->
    <insert id="insertChannelGroup" parameterType="com.baofu.cbpayservice.dal.models.FiCbPayChannelGroupDo">
        /*ChannelGroupMapper.insertChannelGroup*/
        INSERT INTO FI_CBPAY_CHANNEL_GROUP (
        RECORD_ID,
        GROUP_ID,
        CCY,
        CHANNEL_ID,
        REMARKS,
        CREATE_AT,
        CREATE_BY,
        UPDATE_AT,
        UPDATE_BY
        )VALUES (
        #{recordId,jdbcType=BIGINT},
        #{groupId,jdbcType=BIGINT},
        #{ccy,jdbcType=VARCHAR},
        #{channelId,jdbcType=BIGINT},
        #{remarks,jdbcType=VARCHAR},
        NOW(),
        #{createBy,jdbcType=VARCHAR},
        NOW(),
        #{updateBy,jdbcType=VARCHAR}
        )
    </insert>

    <!--根据分组和币种查询渠道分组信息-->
    <select id="selectChannelGroup" resultMap="BaseResultMap">
        /*ChannelGroupMapper.selectChannelGroup*/
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        FI_CBPAY_CHANNEL_GROUP
        WHERE
        GROUP_ID=#{groupId,jdbcType=BIGINT}
        AND
        CCY=#{ccy,jdbcType=VARCHAR}
    </select>

    <!--根据币种查询所有分组信息-->
    <select id="selectGroupList" resultType="java.lang.Integer">
        /*ChannelGroupMapper.selectGroupList*/
        SELECT
        DISTINCT GROUP_ID
        FROM
          FI_CBPAY_CHANNEL_GROUP
        WHERE
          CCY = #{ccy,jdbcType=VARCHAR}
        AND
          CHANNEL_TYPE = #{channelType,jdbcType=TINYINT}
    </select>

    <!--更新渠道分组信息-->
    <update id="updateChannelGroup" parameterType="com.baofu.cbpayservice.dal.models.FiCbPayChannelGroupDo">
        /*ChannelGroupMapper.updateChannelGroup*/
        UPDATE
        FI_CBPAY_CHANNEL_GROUP
        SET
        GROUP_ID=#{groupId,jdbcType=BIGINT},
        CHANNEL_ID =#{channelId,jdbcType=BIGINT},
        CCY=#{ccy,jdbcType=VARCHAR},
        REMARKS=#{remarks,jdbcType=VARCHAR},
        UPDATE_BY=#{updateBy,jdbcType=VARCHAR},
        UPDATE_AT=NOW()
        WHERE
        RECORD_ID = #{recordId,jdbcType=BIGINT}
    </update>
</mapper>