<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baofu.cbpayservice.dal.mapper.FiCbPayChannelCostMapper">

    <!--添加订单总表，返回宝付订单号-->
    <insert id="insert" parameterType="com.baofu.cbpayservice.dal.models.FiCbPayChannelCostDo">
        /*FiCbPayChannelCostMapper.insert*/
        INSERT INTO FI_CBPAY_CHANNEL_COST (
        BATCH_NO,
        MEMBER_NO,
        CHANNEL_ID,
        CHANNEL_FEE,
        CURRENCY,
        REMARKS,
        CREATE_AT,
        UPDATE_AT,
        UPDATE_BY,
        CREATE_BY
        )VALUES (
        #{batchNo},
        #{memberNo},
        #{channelId},
        #{channelFee},
        #{currency},
        #{remarks},
        NOW(),
        NOW(),
        #{updateBy},
        #{createBy}
        )
    </insert>
</mapper>