<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baofu.cbpayservice.dal.mapper.FiCbpayMemberFtpMapper">

    <resultMap id="BaseResultMap" type="com.baofu.cbpayservice.dal.models.FiCbpayMemberFtpDo">
        <id column="ID"                 jdbcType="BIGINT"            property="id"/>
        <result column="RECORD_ID"      jdbcType="BIGINT"           property="recordId"/>
        <result column="MEMBER_ID"      jdbcType="BIGINT"           property="memberId"/>
        <result column="FTP_IP"         jdbcType="VARCHAR"          property="ftpIp"/>
        <result column="FTP_PORT"         jdbcType="VARCHAR"          property="ftpPort"/>
        <result column="USER_NAME"      jdbcType="VARCHAR"          property="userName"/>
        <result column="USER_PWD"       jdbcType="VARCHAR"          property="userPwd"/>
        <result column="FTP_PATH"       jdbcType="VARCHAR"          property="ftpPath"/>
        <result column="FTP_MODE"       jdbcType="INTEGER"          property="ftpMode"/>
        <result column="CREATE_AT"      jdbcType="TIMESTAMP"        property="createAt"/>
        <result column="CREATE_BY"      jdbcType="VARCHAR"          property="createBy"/>
        <result column="UPDATE_AT"      jdbcType="TIMESTAMP"        property="updateAt"/>
        <result column="UPDATE_BY"      jdbcType="VARCHAR"          property="updateBy"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,
        RECORD_ID,
        MEMBER_ID,
        FTP_IP,
        FTP_PORT,
        USER_NAME,
        USER_PWD,
        FTP_PATH,
        FTP_MODE,
        CREATE_AT,
        CREATE_BY,
        UPDATE_AT,
        UPDATE_BY
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.baofu.cbpayservice.dal.models.FiCbpayMemberFtpDo">
        /*FiCbPaySettleApplyMapper.insert*/
        insert into FI_CBPAY_MEMBER_FTP (
        RECORD_ID,
        MEMBER_ID,
        FTP_IP,
        FTP_PORT,
        USER_NAME,
        USER_PWD,
        FTP_PATH,
        FTP_MODE,
        CREATE_AT,
        CREATE_BY,
        UPDATE_AT,
        UPDATE_BY
        )values (
        #{recordId,jdbcType=BIGINT},
        #{memberId,jdbcType=BIGINT},
        #{ftpIp,jdbcType=VARCHAR},
        #{ftpPort,jdbcType=VARCHAR},
        #{userName,jdbcType=VARCHAR},
        #{userPwd,jdbcType=VARCHAR},
        #{ftpPath,jdbcType=VARCHAR},
        #{ftpMode,jdbcType=VARCHAR},
        NOW(),
        #{createBy,jdbcType=VARCHAR},
        NOW(),
        #{updateBy,jdbcType=VARCHAR}
        )
    </insert>

    <update id="updateByRecordId" parameterType="com.baofu.cbpayservice.dal.models.FiCbpayMemberFtpDo">
        /*FiCbPaySettleApplyMapper.updateByKeySelective*/
        update FI_CBPAY_MEMBER_FTP
        <set>
            <if test="ftpIp != null">
                FTP_IP = #{ftpIp,jdbcType=VARCHAR},
            </if>
            <if test="ftpPort != null">
                FTP_PORT = #{ftpPort,jdbcType=VARCHAR},
            </if>
            <if test="userName != null">
                USER_NAME = #{userName,jdbcType=INTEGER},
            </if>
            <if test="userPwd != null">
                USER_PWD = #{userPwd,jdbcType=BIGINT},
            </if>
            <if test="ftpPath != null">
                FTP_PATH = #{ftpPath,jdbcType=INTEGER},
            </if>
            <if test="ftpMode != null">
                FTP_MODE = #{ftpMode,jdbcType=INTEGER},
            </if>
            <if test="updateBy != null">
                UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
            </if>
            UPDATE_AT = NOW()
        </set>
        where RECORD_ID = #{recordId,jdbcType=BIGINT}
    </update>

    <!-- 根据匹配编号查询 -->
    <select id="queryByRecordId" resultMap="BaseResultMap">
        /*FiCbPaySettleApplyMapper.queryByApplyNo*/
        SELECT
        <include refid="Base_Column_List"/>
        FROM FI_CBPAY_MEMBER_FTP F
        WHERE F.RECORD_ID = #{recordId,jdbcType=BIGINT}
    </select>

    <!-- 根据匹配编号查询 -->
    <select id="queryByMemberId" resultMap="BaseResultMap">
        /*FiCbPaySettleApplyMapper.queryByApplyNo*/
        SELECT
        <include refid="Base_Column_List"/>
        FROM FI_CBPAY_MEMBER_FTP F
        WHERE F.MEMBER_ID = #{memberId,jdbcType=BIGINT}
    </select>
</mapper>