<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baofu.cbpayservice.dal.mapper.FiCbPaySettleAccountMapper">

    <resultMap id="BaseResultMap" type="com.baofu.cbpayservice.dal.models.FiCbPaySettleAccountDo">
        <id column="ID" property="id" jdbcType="BIGINT"/>
        <result column="MEMBER_ID" property="memberId" jdbcType="BIGINT"/>
        <result column="RECORD_ID" property="recordId" jdbcType="BIGINT"/>
        <result column="REMARKS" property="remarks" jdbcType="VARCHAR"/>
        <result column="INCOME_ACCOUNT_NO" property="incomeAccountNo" jdbcType="VARCHAR"/>
        <result column="INCOME_ACCOUNT_NAME" property="incomeAccountName" jdbcType="VARCHAR"/>
        <result column="INCOME_COUNTRY" property="incomeCountry" jdbcType="VARCHAR"/>
        <result column="CREATE_AT" property="createAt" jdbcType="TIMESTAMP"/>
        <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR"/>
        <result column="UPDATE_AT" property="updateAt" jdbcType="TIMESTAMP"/>
        <result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR"/>
        <result column="DELETE_FLAG" property="deleteFlag" jdbcType="BIGINT"/>
    </resultMap>


    <sql id="Base_Column_List">
        ID,
        MEMBER_ID,
        RECORD_ID,
        REMARKS,
        INCOME_ACCOUNT_NO,
        INCOME_ACCOUNT_NAME,
        INCOME_COUNTRY,
        CREATE_AT,
        CREATE_BY,
        UPDATE_AT,
        UPDATE_BY,
        DELETE_FLAG
    </sql>

    <!--结汇账户管理新增-->
    <insert id="insert" parameterType="com.baofu.cbpayservice.dal.models.FiCbPaySettleAccountDo">
        /*FiCbPaySettleAccountMapper.insert*/
        INSERT INTO FI_CBPAY_SETTLE_ACCOUNT (
        ID,
        MEMBER_ID,
        RECORD_ID,
        REMARKS,
        INCOME_ACCOUNT_NO,
        INCOME_ACCOUNT_NAME,
        INCOME_COUNTRY,
        CREATE_AT,
        CREATE_BY,
        UPDATE_AT,
        UPDATE_BY,
        DELETE_FLAG
        ) VALUES (
        #{id,jdbcType=BIGINT},
        #{memberId,jdbcType=BIGINT},
        #{recordId,jdbcType=BIGINT},
        #{remarks,jdbcType=VARCHAR},
        #{incomeAccountNo,jdbcType=VARCHAR},
        #{incomeAccountName,jdbcType=VARCHAR},
        #{incomeCountry,jdbcType=VARCHAR},
        #{createAt,jdbcType=TIMESTAMP},
        #{createBy,jdbcType=VARCHAR},
        #{updateAt,jdbcType=TIMESTAMP},
        #{updateBy,jdbcType=VARCHAR},
        #{deleteFlag,jdbcType=BIGINT}
        )
    </insert>


    <!--结汇账户管理更新-->
    <update id="updateByRecordId" parameterType="com.baofu.cbpayservice.dal.models.FiCbPaySettleAccountDo">
        /*FiCbPaySettleAccountMapper.updateByRecordId*/
        UPDATE
        FI_CBPAY_SETTLE_ACCOUNT
        SET
        <if test="memberId != null">
            MEMBER_ID = #{memberId,jdbcType=BIGINT},
        </if>
        <if test="remarks != null">
            REMARKS = #{remarks,jdbcType=VARCHAR},
        </if>
        <if test="incomeAccountNo != null">
            INCOME_ACCOUNT_NO = #{incomeAccountNo,jdbcType=VARCHAR},
        </if>
        <if test="incomeAccountName != null">
            INCOME_ACCOUNT_NAME = #{incomeAccountName,jdbcType=VARCHAR},
        </if>
        <if test="incomeCountry != null">
            INCOME_COUNTRY = #{incomeCountry,jdbcType=VARCHAR},
        </if>
        <if test="deleteFlag != null">
            DELETE_FLAG = #{deleteFlag,jdbcType=VARCHAR},
        </if>
        UPDATE_AT = NOW(),
        UPDATE_BY = #{updateBy,jdbcType=VARCHAR}
        WHERE
        RECORD_ID = #{recordId,jdbcType=BIGINT}
    </update>

    <!-- 根据宝付recordId查询结汇账户信息是否存在 -->
    <select id="queryRecordIdExist" parameterType="java.lang.Long"
            resultType="com.baofu.cbpayservice.dal.models.FiCbPaySettleAccountDo">
        /*FiCbPaySettleAccountMapper.queryRecordIdExist*/
        SELECT
        DELETE_FLAG AS deleteFlag,
        MEMBER_ID AS memberId,
        INCOME_ACCOUNT_NO AS incomeAccountNo,
        INCOME_ACCOUNT_NAME AS incomeAccountName,
        INCOME_COUNTRY AS incomeCountry,
        RECORD_ID AS recordId
        FROM
        FI_CBPAY_SETTLE_ACCOUNT
        WHERE
        RECORD_ID = #{recordId}
    </select>

    <!-- 查询结汇账户信息 -->
    <select id="listSettleAccount" parameterType="com.baofu.cbpayservice.dal.models.FiCbPaySettleAccountDo"
            resultType="com.baofu.cbpayservice.dal.models.FiCbPaySettleAccountDo">
        /*FiCbPaySettleAccountMapper.listSettleAccount*/
        SELECT
        DELETE_FLAG AS deleteFlag,
        MEMBER_ID AS memberId,
        INCOME_ACCOUNT_NO AS incomeAccountNo,
        INCOME_ACCOUNT_NAME AS incomeAccountName,
        INCOME_COUNTRY AS incomeCountry,
        RECORD_ID AS recordId
        FROM
        FI_CBPAY_SETTLE_ACCOUNT
        WHERE
        DELETE_FLAG = 1
        <if test="memberId !='' and memberId != null ">
        and MEMBER_ID =#{memberId}
        </if>
        <if test="incomeAccountNo !='' and incomeAccountNo != null ">
            AND  INCOME_ACCOUNT_NO = #{incomeAccountNo}
        </if>
        <if test="incomeAccountName !='' and incomeAccountName != null ">
            AND  INCOME_ACCOUNT_NAME = #{incomeAccountName}
        </if>
        <if test="incomeCountry !='' and incomeCountry != null ">
            AND  INCOME_COUNTRY = #{incomeCountry}
        </if>
        ORDER BY CREATE_AT DESC
    </select>
</mapper>