<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baofu.cbpayservice.dal.mapper.FiCbPayChannelFeeMapper" >

    <resultMap id="BaseResultMap" type="com.baofu.cbpayservice.dal.models.FiCbPayChannelFeeDo">
        <id     column="id"                     property="id"                   jdbcType="BIGINT"/>
        <result column="record_id"              property="recordId"             jdbcType="BIGINT"/>
        <result column="channel_id"             property="channelId"            jdbcType="BIGINT"/>
        <result column="abroad_fixed_money"     property="abroadFixedMoney"     jdbcType="DECIMAL"/>
        <result column="fixed_money"            property="fixedMoney"           jdbcType="DECIMAL"/>
        <result column="charge_type"            property="chargeType"           jdbcType="VARCHAR"/>
        <result column="charge_value"           property="chargeValue"          jdbcType="DECIMAL"/>
        <result column="min_money"              property="minMoney"             jdbcType="DECIMAL"/>
        <result column="max_money"              property="maxMoney"             jdbcType="DECIMAL"/>
        <result column="status"                 property="status"               jdbcType="VARCHAR"/>
        <result column="remarks"                property="remarks"              jdbcType="VARCHAR"/>
        <result column="create_by"              property="createBy"             jdbcType="VARCHAR"/>
        <result column="create_at"              property="createAt"             jdbcType="TIMESTAMP"/>
        <result column="update_at"              property="updateAt"             jdbcType="TIMESTAMP"/>
        <result column="update_by"              property="updateBy"             jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,
        record_id,
        channel_id,
        abroad_fixed_money,
        fixed_money,
        charge_type,
        charge_value,
        min_money,
        max_money,
        status,
        remarks,
        create_by,
        create_at,
        update_at,
        update_by
    </sql>

    <!--根据主key查询成本配置-->
    <select id="selectChannelFeeByKey" resultMap="BaseResultMap">
        /*FiCbPayChannelFeeMapper.selectChannelFeeByKey*/
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        FI_CBPAY_CHANNEL_FEE
        WHERE
        record_id=#{recordId,jdbcType=BIGINT}
    </select>

    <!--根据渠道id和状态查询成本配置-->
    <select id="selectChannelFee" resultMap="BaseResultMap">
        /*FiCbPayChannelFeeMapper.selectChannelFee*/
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        FI_CBPAY_CHANNEL_FEE
        WHERE
        channel_id=#{channelId,jdbcType=BIGINT}
        AND
        status = #{status,jdbcType=VARCHAR}
    </select>

    <!--根据条件查询总记录数-->
    <select id="selectCount" resultType="java.lang.Integer">
        /*FiCbPayChannelFeeMapper.selectCount*/
        select
        count(*)
        FROM BAOFOO_FI.FI_CBPAY_CHANNEL_FEE
        <where>
            <if test="channelId!=null and channelId!=''">
                and CHANNEL_ID = #{channelId,jdbcType=BIGINT}
            </if>
            <if test="beginTime!=null and beginTime!=''">
                AND CREATE_AT &gt;= #{beginTime}
            </if>
            <if test="endTime!=null and endTime!=''">
                AND CREATE_AT &lt;= #{endTime}
            </if>
        </where>
    </select>

    <!--根据条件分页查询-->
    <select id="selectPageList" resultMap="BaseResultMap">
        /*FiCbPayChannelFeeMapper.selectPageList*/
        SELECT
        <include refid="Base_Column_List"/>
        FROM FI_CBPAY_CHANNEL_FEE
        <where>
            <if test="channelId!=null and channelId!=''">
                and CHANNEL_ID = #{channelId,jdbcType=BIGINT}
            </if>
            <if test="beginTime!=null and beginTime!=''">
                AND CREATE_AT &gt;= #{beginTime}
            </if>
            <if test="endTime!=null and endTime!=''">
                AND CREATE_AT &lt;= #{endTime}
            </if>
        </where>
        ORDER BY CREATE_AT DESC
        LIMIT #{pageNo},#{pageSize}
    </select>

    <!--增加渠道成本配置-->
    <insert id="addChannelFee" parameterType="com.baofu.cbpayservice.dal.models.FiCbPayChannelFeeDo">
        /*FiCbPayChannelFeeMapper.addChannelFee*/
        INSERT INTO FI_CBPAY_CHANNEL_FEE
        (
        RECORD_ID,
        CHANNEL_ID,
        ABROAD_FIXED_MONEY,
        FIXED_MONEY,
        CHARGE_TYPE,
        CHARGE_VALUE,
        MIN_MONEY,
        MAX_MONEY,
        STATUS,
        REMARKS,
        CREATE_AT,
        CREATE_BY,
        UPDATE_AT,
        UPDATE_BY
        )
        VALUES
        (
        #{recordId,jdbcType=BIGINT},
        #{channelId,jdbcType=BIGINT},
        #{abroadFixedMoney,jdbcType=DECIMAL},
        #{fixedMoney,jdbcType=DECIMAL},
        #{chargeType,jdbcType=VARCHAR},
        #{chargeValue,jdbcType=DECIMAL},
        #{minMoney,jdbcType=DECIMAL},
        #{maxMoney,jdbcType=DECIMAL},
        #{status,jdbcType=VARCHAR},
        #{remarks,jdbcType=VARCHAR},
        NOW(),
        #{createBy,jdbcType=VARCHAR},
        NOW(),
        #{updateBy,jdbcType=VARCHAR}
        )
    </insert>

    <update id="editChannelFee" parameterType="com.baofu.cbpayservice.dal.models.FiCbPayChannelFeeDo">
        /*FiCbPayChannelFeeMapper.editChannelFee*/
        UPDATE FI_CBPAY_CHANNEL_FEE
        SET
        ABROAD_FIXED_MONEY = #{abroadFixedMoney,jdbcType=DECIMAL},
        FIXED_MONEY = #{fixedMoney,jdbcType=DECIMAL},
        CHARGE_TYPE = #{chargeType,jdbcType=VARCHAR},
        CHARGE_VALUE = #{chargeValue,jdbcType=DECIMAL},
        MIN_MONEY = #{minMoney,jdbcType=DECIMAL},
        MAX_MONEY = #{maxMoney,jdbcType=DECIMAL},
        STATUS = #{status,jdbcType=VARCHAR},
        REMARKS = #{remarks,jdbcType=VARCHAR},
        UPDATE_AT = NOW(),
        UPDATE_BY = #{updateBy,jdbcType=VARCHAR}
        WHERE RECORD_ID = #{recordId,jdbcType=BIGINT}
    </update>
</mapper>