<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baofu.cbpayservice.dal.mapper.FiCbPayMemberApiRqstMapper">
  <resultMap id="BaseResultMap" type="com.baofu.cbpayservice.dal.models.FiCbPayMemberApiRqstDo">
    <id     column="ID"               jdbcType="BIGINT"       property="id" />
    <result column="MEMBER_ID"        jdbcType="BIGINT"       property="memberId" />
    <result column="TERMINAL_ID"      jdbcType="BIGINT"       property="terminalId" />
    <result column="MEMBER_REQ_ID"    jdbcType="VARCHAR"      property="memberReqId" />
    <result column="BUSINESS_TYPE"    jdbcType="VARCHAR"      property="businessType" />
    <result column="BUSINESS_NO"      jdbcType="BIGINT"       property="businessNo" />
    <result column="NOTIFY_URL"       jdbcType="VARCHAR"      property="notifyUrl" />
    <result column="PROCESS_STATUS"   jdbcType="TINYINT"      property="processStatus" />
    <result column="PROCESS_AT"       jdbcType="TIMESTAMP"    property="processAt" />
    <result column="REMARKS"          jdbcType="VARCHAR"      property="remarks" />
    <result column="CREATE_AT"        jdbcType="TIMESTAMP"    property="createAt" />
    <result column="CREATE_BY"        jdbcType="VARCHAR"      property="createBy" />
    <result column="UPDATE_AT"        jdbcType="TIMESTAMP"    property="updateAt" />
    <result column="UPDATE_BY"        jdbcType="VARCHAR"      property="updateBy" />
  </resultMap>
  <sql id="Base_Column_List">
    ID,
    MEMBER_ID,
    TERMINAL_ID,
    MEMBER_REQ_ID,
    BUSINESS_TYPE,
    BUSINESS_NO,
    NOTIFY_URL,
    PROCESS_STATUS,
    PROCESS_AT,
    REMARKS,
    CREATE_AT,
    CREATE_BY,
    UPDATE_AT,
    UPDATE_BY
  </sql>

  <!-- 根据业务号查询 -->
  <select id="selectByKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    /** FiCbPayMemberApiRqstMapper.selectByKey **/
    select
    <include refid="Base_Column_List" />
    from FI_CBPAY_MEMBER_API_RQST
    where BUSINESS_NO = #{businessNo,jdbcType=BIGINT}
  </select>

  <!-- 插入数据 -->
  <insert id="insert" parameterType="com.baofu.cbpayservice.dal.models.FiCbPayMemberApiRqstDo">
    /** FiCbPayMemberApiRqstMapper.insert **/
    insert into FI_CBPAY_MEMBER_API_RQST (
      ID,
      MEMBER_ID,
      TERMINAL_ID,
      MEMBER_REQ_ID,
      BUSINESS_TYPE,
      BUSINESS_NO,
      NOTIFY_URL,
      PROCESS_STATUS,
      PROCESS_AT,
      REMARKS,
      CREATE_AT,
      CREATE_BY,
      UPDATE_AT,
      UPDATE_BY
    ) values (
      #{id,jdbcType=BIGINT},
      #{memberId,jdbcType=BIGINT},
      #{terminalId,jdbcType=BIGINT},
      #{memberReqId,jdbcType=VARCHAR},
      #{businessType,jdbcType=VARCHAR},
      #{businessNo,jdbcType=BIGINT},
      #{notifyUrl,jdbcType=VARCHAR},
      #{processStatus,jdbcType=TINYINT},
      NOW(),
      #{remarks,jdbcType=VARCHAR},
      NOW(),
      #{createBy,jdbcType=VARCHAR},
      NOW(),
      #{updateBy,jdbcType=VARCHAR}
    )
  </insert>

  <!-- 根据商户流水号和商户号查询 -->
  <select id="queryByMIdReqId"  resultMap="BaseResultMap">
    /** FiCbPayMemberApiRqstMapper.queryByMIdReqId **/
    select
    <include refid="Base_Column_List" />
    from
      FI_CBPAY_MEMBER_API_RQST
    where
      MEMBER_ID = #{memberId,jdbcType=BIGINT}
    and
      MEMBER_REQ_ID = #{memberReqId,jdbcType=VARCHAR}
    <if test="businessType != null">
      and BUSINESS_TYPE = #{businessType,jdbcType=VARCHAR}
    </if>
  </select>

    <!-- 根据申请编号统计记录数 -->
    <select id="countByMemberReqId" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM BAOFOO_FI.FI_CBPAY_MEMBER_API_RQST s
        WHERE s.MEMBER_ID = #{memberId} AND s.MEMBER_REQ_ID = #{remitApplyNo} AND s.BUSINESS_TYPE='12'
    </select>

    <!-- 更新商户API申请信息表 -->
    <update id="updateApiRqstInfoByReqNo">
        UPDATE BAOFOO_FI.FI_CBPAY_MEMBER_API_RQST s
        SET s.BUSINESS_NO = #{proxyOrderId} WHERE s.MEMBER_REQ_ID = #{remitApplyNo} AND s.BUSINESS_TYPE='12'
    </update>

    <!--更新商户通知状态-->
    <update id="updateApiRqstInfoStatusByReqNo">
        UPDATE BAOFOO_FI.FI_CBPAY_MEMBER_API_RQST s
        SET s.PROCESS_STATUS = #{rst}
        WHERE s.MEMBER_REQ_ID = #{memberReqId}
        AND s.BUSINESS_TYPE = #{businessType,jdbcType=VARCHAR}
</update>

</mapper>