<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baofu.cbpayservice.dal.mapper.FiCbpayOrderLogisticsMapper">

  <resultMap id="BaseResultMap" type="com.baofu.cbpayservice.dal.models.FiCbpayOrderLogisticsDo">
    <id         column="ID"                           jdbcType="BIGINT"             property="id" />
    <result     column="ORDER_ID"                     jdbcType="BIGINT"             property="orderId" />
    <result     column="LOGISTICS_COMPANY_NUMBER"     jdbcType="VARCHAR"            property="logisticsCompanyNumber" />
    <result     column="LOGISTICS_NUMBER"             jdbcType="VARCHAR"            property="logisticsNumber" />
    <result     column="CONSIGNEE_NAME"               jdbcType="VARCHAR"            property="consigneeName" />
    <result     column="CONSIGNEE_CONTACT"            jdbcType="VARCHAR"            property="consigneeContact" />
    <result     column="CONSIGNEE_ADDRESS"            jdbcType="VARCHAR"            property="consigneeAddress" />
    <result     column="DELIVERY_DATE"                jdbcType="TIMESTAMP"          property="deliveryDate" />
    <result     column="CREATE_AT"                    jdbcType="TIMESTAMP"          property="createAt" />
    <result     column="CREATE_BY"                    jdbcType="VARCHAR"            property="createBy" />
    <result     column="UPDATE_AT"                    jdbcType="TIMESTAMP"          property="updateAt" />
    <result     column="UPDATE_BY"                    jdbcType="VARCHAR"            property="updateBy" />
  </resultMap>

    <sql id="Base_Column_List">
        ID,
        ORDER_ID,
        LOGISTICS_COMPANY_NUMBER,
        LOGISTICS_NUMBER,
        CONSIGNEE_NAME,
        CONSIGNEE_CONTACT,
        CONSIGNEE_ADDRESS,
        DELIVERY_DATE,
        CREATE_AT,
        CREATE_BY,
        UPDATE_AT,
        UPDATE_BY
    </sql>

    <insert id="insert" parameterType="com.baofu.cbpayservice.dal.models.FiCbpayOrderLogisticsDo">
        INSERT INTO FI_CBPAY_ORDER_LOGISTICS (
        ORDER_ID,
        LOGISTICS_COMPANY_NUMBER,
        LOGISTICS_NUMBER,
        CONSIGNEE_NAME,
        CONSIGNEE_CONTACT,
        CONSIGNEE_ADDRESS,
        DELIVERY_DATE,
        CREATE_AT,
        CREATE_BY,
        UPDATE_AT,
        UPDATE_BY
        )
        VALUES
        (
        #{orderId,jdbcType=BIGINT},
        #{logisticsCompanyNumber,jdbcType=VARCHAR},
        #{logisticsNumber,jdbcType=VARCHAR},
        #{consigneeName,jdbcType=VARCHAR},
        #{consigneeContact,jdbcType=VARCHAR},
        #{consigneeAddress,jdbcType=VARCHAR},
        #{deliveryDate,jdbcType=TIMESTAMP},
        #{createAt,jdbcType=TIMESTAMP},
        #{createBy,jdbcType=VARCHAR},
        #{updateAt,jdbcType=TIMESTAMP},
        #{updateBy,jdbcType=VARCHAR}
        )
    </insert>

    <insert id="batchInsert" parameterType="com.baofu.cbpayservice.dal.models.FiCbpayOrderLogisticsDo">
        INSERT INTO FI_CBPAY_ORDER_LOGISTICS (
        ORDER_ID,
        LOGISTICS_COMPANY_NUMBER,
        LOGISTICS_NUMBER,
        CONSIGNEE_NAME,
        CONSIGNEE_CONTACT,
        CONSIGNEE_ADDRESS,
        DELIVERY_DATE,
        CREATE_AT,
        CREATE_BY,
        UPDATE_AT,
        UPDATE_BY
        )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.orderId,jdbcType=BIGINT},
            #{item.logisticsCompanyNumber,jdbcType=VARCHAR},
            #{item.logisticsNumber,jdbcType=VARCHAR},
            #{item.consigneeName,jdbcType=VARCHAR},
            #{item.consigneeContact,jdbcType=VARCHAR},
            #{item.consigneeAddress,jdbcType=VARCHAR},
            #{item.deliveryDate,jdbcType=TIMESTAMP},
            NOW(),
            #{item.createBy,jdbcType=VARCHAR},
            NOW(),
            #{item.updateBy,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>
    <!--根据宝付订单号查询物流信息 wdj-->
    <select id="queryOrderLogisticsByOrderId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        /*FiCbpayOrderLogisticsMapper.queryOrderLogisticsByOrderId*/
        SELECT
        <include refid="Base_Column_List"/>
        FROM BAOFOO_FI.FI_CBPAY_ORDER_LOGISTICS fs
        WHERE fs.ORDER_ID= #{orderId,jdbcType=BIGINT}
    </select>

</mapper>