<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baofu.cbpayservice.dal.mapper.FiCbPayVerifyCountMapper">

    <insert id="insert" parameterType="com.baofu.cbpayservice.dal.models.CbPayVerifyCountDo">
        /*FiCbPayVerifyCountMapper.insert*/
        insert into FI_CBPAY_VERIFY_COLLECT (
        FILE_BATCH_NO,
        VERIFY_COUNT,
        VERIFY_COUNT_SUC,
        VERIFY_STATUS,
        CREATE_BY,
        CREATE_AT,
        UPDATE_BY,
        UPDATE_AT,
        ORDER_TYPE,
        VERIFY_COUNT_FAIL,
        MEMBER_ID
        )
        values (
        #{fileBatchNo,jdbcType=BIGINT},
        #{verifyCount,jdbcType=INTEGER},
        #{verifyCountSuc,jdbcType=INTEGER},
        #{verifyStatus,jdbcType=INTEGER},
        #{createBy,jdbcType=VARCHAR},
        NOW(),
        #{updateBy,jdbcType=VARCHAR},
        NOW(),
        #{orderType,jdbcType=INTEGER},
        #{verifyCountFail,jdbcType=INTEGER},
        #{memberId,jdbcType=BIGINT}
        )
    </insert>

    <!--更新实名认证信息-->
    <update id="updateVerifyCount" parameterType="com.baofu.cbpayservice.dal.models.CbPayVerifyCountDo">
        /*FiCbPayVerifyCountMapper.updateVerifyCount*/
        UPDATE BAOFOO_FI.FI_CBPAY_VERIFY_COLLECT fc
        SET fc.VERIFY_COUNT=#{verifyCount},
        fc.VERIFY_COUNT_SUC=#{verifyCountSuc},
        fc.VERIFY_COUNT_FAIL=#{verifyCountFail},
        fc.VERIFY_STATUS=#{verifyStatus}
        WHERE fc.FILE_BATCH_NO=#{fileBatchNo}
    </update>

    <!--根据文件批次号查询数据库-->
    <select id="selectVerifyCounByFileBatchNo" resultType="com.baofu.cbpayservice.dal.models.CbPayVerifyCountDo">
        /*FiCbPayVerifyCountMapper.selectVerifyCounByFileBatchNo*/
        SELECT fc.FILE_BATCH_NO AS fileBatchNo ,
        fc.VERIFY_COUNT AS verifyCount ,
        fc.VERIFY_COUNT_FAIL AS verifyCountFail,
        fc.VERIFY_COUNT_SUC AS verifyCountSuc
        FROM BAOFOO_FI.FI_CBPAY_VERIFY_COLLECT fc WHERE fc.FILE_BATCH_NO=#{fileBathNo}
    </select>


</mapper>