<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baofu.cbpayservice.dal.mapper.FiCbPayBizCmdMapper">
    <resultMap id="bizCmdMap" type="com.baofu.cbpayservice.dal.models.BizCmdDo">
        <result column="id"                 property="id"               jdbcType="DECIMAL"/>
        <result column="biz_id"             property="bizId"            jdbcType="VARCHAR"/>
        <result column="biz_type"           property="bizType"          jdbcType="VARCHAR"/>
        <result column="server_ip"          property="serverIP"         jdbcType="VARCHAR"/>
        <result column="fail_reason"        property="failReason"       jdbcType="VARCHAR"/>
        <result column="env_tag"            property="envTag"           jdbcType="VARCHAR"/>
        <result column="is_doing"           property="isDoing"          jdbcType="VARCHAR"/>
        <result column="status"             property="status"           jdbcType="VARCHAR"/>
        <result column="retry_times"        property="retryTimes"       jdbcType="VARCHAR"/>
        <result column="max_retry_times"    property="maxRetryTimes"    jdbcType="TIMESTAMP"/>
        <result column="next_exe_time"      property="nextExeTime"      jdbcType="TIMESTAMP"/>
        <result column="enable_start_date"  property="enableStartDate"  jdbcType="TIMESTAMP"/>
        <result column="enable_end_date"    property="enableEndDate"    jdbcType="TIMESTAMP"/>
        <result column="CREATED_AT"         property="createAt"         jdbcType="TIMESTAMP"/>
        <result column="CREATED_BY"         property="createBy"         jdbcType="VARCHAR"/>
        <result column="UPDATED_AT"         property="updateAt"         jdbcType="TIMESTAMP"/>
        <result column="UPDATED_BY"         property="updateBy"         jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="BizCmdDO_Base_Column_List">
        ID,
        BIZ_ID,
        BIZ_TYPE,
        SERVER_IP,
        FAIL_REASON,
        ENV_TAG,
        IS_DOING,
        STATUS,
        RETRY_TIMES,
        MAX_RETRY_TIMES,
        NEXT_EXE_TIME,
        ENABLE_START_DATE,
        ENABLE_END_DATE,
        CREATED_AT,
        CREATED_BY,
        UPDATED_AT,
        UPDATED_BY
    </sql>

    <!-- 新增dispatch任务 -->
    <insert id="insert" parameterType="com.baofu.cbpayservice.dal.models.BizCmdDo">
        /*BizCmdMapper.insert*/
        INSERT INTO
        T_DISPATCH_BIZ_CMD(
        BIZ_ID,
        BIZ_TYPE,
        SERVER_IP,
        FAIL_REASON,
        ENV_TAG,
        IS_DOING,
        STATUS,
        RETRY_TIMES,
        MAX_RETRY_TIMES,
        NEXT_EXE_TIME,
        ENABLE_START_DATE,
        ENABLE_END_DATE,
        CREATED_AT,
        CREATED_BY,
        UPDATED_AT,
        UPDATED_BY
        )
        VALUES(
        #{bizId,jdbcType=VARCHAR},
        #{bizType,jdbcType=VARCHAR},
        #{serverIP,jdbcType=VARCHAR},
        #{failReason,jdbcType=VARCHAR},
        #{envTag,jdbcType=VARCHAR},
        #{isDoing,jdbcType=VARCHAR},
        #{status,jdbcType=VARCHAR},
        #{retryTimes,jdbcType=VARCHAR},
        #{maxRetryTimes,jdbcType=VARCHAR},
        <if test="nextExeTime != null and nextExeTime != ''">
            #{nextExeTime,jdbcType=TIMESTAMP},
        </if>
        <if test="nextExeTime == null or nextExeTime == ''">
            NOW(),
        </if>
        <choose>
            <when test="enableStartDate != null and enableStartDate != ''">
                #{enableStartDate,jdbcType=TIMESTAMP},
            </when>
            <otherwise>
                DATE_ADD(NOW(),INTERVAL 2 MINUTE),
            </otherwise>
        </choose>
        <if test="enableEndDate != null and enableEndDate != ''">
            #{enableEndDate,jdbcType=TIMESTAMP},
        </if>
        <if test="enableEndDate == null or enableEndDate == ''">
            DATE_ADD(NOW(),INTERVAL 10 HOUR),
        </if>
        NOW(),
        #{createBy,jdbcType=VARCHAR},
        NOW(),
        #{updateBy,jdbcType=VARCHAR})
    </insert>

    <!-- 更新dispatch任务 -->
    <update id="update" parameterType="com.baofu.cbpayservice.dal.models.BizCmdDo">
        /*BizCmdMapper.update*/
        UPDATE
        T_DISPATCH_BIZ_CMD
        SET
        BIZ_ID = #{bizId,jdbcType=VARCHAR},
        BIZ_TYPE = #{bizType,jdbcType=VARCHAR},
        SERVER_IP = #{serverIP,jdbcType=VARCHAR},
        FAIL_REASON = #{failReason,jdbcType=VARCHAR},
        ENV_TAG = #{envTag,jdbcType=VARCHAR},
        IS_DOING = #{isDoing,jdbcType=VARCHAR},
        STATUS = #{status,jdbcType=VARCHAR},
        RETRY_TIMES = #{retryTimes,jdbcType=VARCHAR},
        MAX_RETRY_TIMES = #{maxRetryTimes,jdbcType=VARCHAR},
        NEXT_EXE_TIME = #{nextExeTime,jdbcType=TIMESTAMP},
        ENABLE_START_DATE = #{enableStartDate,jdbcType=TIMESTAMP},
        ENABLE_END_DATE = #{enableEndDate,jdbcType=TIMESTAMP},
        UPDATED_AT=NOW(),
        UPDATED_BY=#{updatedBy,jdbcType=VARCHAR}
        WHERE
        ID = #{id,jdbcType=VARCHAR}
    </update>

    <!-- 查询需要执行的dispatch任务 -->
    <select id="selectToDoCmdList" resultMap="bizCmdMap">
        /*BizCmdMapper.selectToDoCmdList*/
        SELECT
        <include refid="BizCmdDO_Base_Column_List"/>
        FROM
        T_DISPATCH_BIZ_CMD
        WHERE
        STATUS IN('I','W')
        AND
        IS_DOING = 'FALSE'
        <![CDATA[
            AND
                NEXT_EXE_TIME <= NOW()
            AND
                ENABLE_START_DATE <= NOW()
            AND
                ENABLE_END_DATE > NOW()
            AND
                BIZ_TYPE = #{bizType,jdbcType=VARCHAR}
            AND
                ENV_TAG = #{envTag,jdbcType=VARCHAR}
            AND
                CREATED_AT >= DATE_ADD(NOW(),INTERVAL -1 DAY)
            ]]>
        ORDER BY ID
        LIMIT #{cmdNum}
    </select>

    <select id="getSysDate" resultType="java.lang.String">
        SELECT DATE_FORMAT(NOW(),' %Y%m%d%H%i%S') FROM DUAL
    </select>

    <!-- 激活dispatch任务 -->
    <update id="reactiveCommandsServerIP" parameterType="java.lang.String">
        /* reactiveCommandsServerIP */
        UPDATE
        T_DISPATCH_BIZ_CMD
        SET
        IS_DOING = 'FALSE',
        ENABLE_END_DATE = DATE_ADD(NOW(),INTERVAL 2 MINUTE),
        UPDATED_AT = NOW()
        WHERE
        IS_DOING = 'TRUE'
        AND
        SERVER_IP = #{serverIP,jdbcType=VARCHAR}
        AND
        CREATED_AT >= DATE_ADD(NOW(),INTERVAL -1 DAY)
    </update>

    <!-- 页面分页查询时dispatch总条数 -->
    <select id="selectBizCmdCount" parameterType="com.baofu.cbpayservice.dal.models.BizCmdDo"
            resultType="int">
        /*BizCmdMapper.selectBizCmdCount*/
        SELECT
        COUNT(1)
        FROM
        T_DISPATCH_BIZ_CMD T
        WHERE 1=1
        <if test="bean.bizId != null and bean.bizId!= ''">
            AND t.BIZ_ID = #{bean.bizId}
        </if>
        <if test="bean.bizType != null and bean.bizType!= ''">
            AND t.BIZ_TYPE = #{bean.bizType}
        </if>
        <if test="bean.isDoing != null and bean.isDoing!= ''">
            AND t.IS_DOING = #{bean.isDoing}
        </if>
        <if test="bean.status != null and bean.status!= ''">
            AND t.STATUS = #{bean.status}
        </if>
        <if test="bean.createdAt != null and bean.createdAt != ''">
            AND
            t.created_at <![CDATA[ >=  ]]> #{bean.createdAt,jdbcType=TIMESTAMP}
            AND
            t.created_at <![CDATA[ <  ]]> #{bean.createdAt,jdbcType=TIMESTAMP}+1
        </if>
    </select>

    <!-- dispatch分页查询 -->
    <select id="selectBizCmdPage" resultMap="bizCmdMap" parameterType="com.baofu.cbpayservice.dal.models.BizCmdDo">
        /*BizCmdMapper.selectBizCmdPage*/
        SELECT * FROM (
        SELECT
        A.*,ROWNUM R
        FROM(
        SELECT
        <include refid="BizCmdDO_Base_Column_List"/>
        FROM
        T_DISPATCH_BIZ_CMD T WHERE 1=1
        <if test="bean.bizId != null and bean.bizId!= ''">
            AND t.BIZ_ID = #{bean.bizId}
        </if>
        <if test="bean.bizType != null and bean.bizType!= ''">
            AND t.BIZ_TYPE = #{bean.bizType}
        </if>
        <if test="bean.isDoing != null and bean.isDoing!= ''">
            AND t.IS_DOING = #{bean.isDoing}
        </if>
        <if test="bean.status != null and bean.status!= ''">
            AND t.STATUS = #{bean.status}
        </if>
        <if test="bean.createdAt != null and bean.createdAt != ''">
            AND
            t.created_at <![CDATA[ >=  ]]> #{bean.createdAt,jdbcType=TIMESTAMP}
            AND
            t.created_at <![CDATA[ <  ]]> #{bean.createdAt,jdbcType=TIMESTAMP}+1
        </if>
        )A WHERE ROWNUM &lt;= #{endRow}
        ) WHERE r &gt; #{startRow}
    </select>

    <!--更新-->
    <update id="updateBizCmd" parameterType="com.baofu.cbpayservice.dal.models.BizCmdDo">
        /*BizCmdMapper.updateBizCmd*/
        UPDATE
        T_DISPATCH_BIZ_CMD
        SET
        STATUS = #{status,jdbcType=VARCHAR},
        UPDATED_AT=SYSDATE,
        UPDATED_BY=#{updatedBy,jdbcType=VARCHAR}
        WHERE
        BIZ_ID = #{bizId,jdbcType=VARCHAR}
    </update>

    <!--更新状态-->
    <update id="updateBizCmdStatus">
        /*BizCmdMapper.updateBizCmdStatus*/
        UPDATE
        T_DISPATCH_BIZ_CMD
        SET
        IS_DOING = 'TRUE',
        SERVER_IP = #{serverIP,jdbcType=VARCHAR},
        UPDATED_AT=NOW()
        WHERE
        ID = #{id,jdbcType=VARCHAR}
        AND IS_DOING = 'FALSE'
    </update>
</mapper>