<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baofu.cbpayservice.dal.mapper.FiCbPayOrderHotelMapper">

  <resultMap id="BaseResultMap" type="com.baofu.cbpayservice.dal.models.FiCbPayOrderHotelDo">
    <id column="ID"                     jdbcType="BIGINT"         property="id" />
    <result column="ORDER_ID"           jdbcType="BIGINT"         property="orderId" />
    <result column="HOTEL_COUNTRY_CODE" jdbcType="VARCHAR"        property="hotelCountryCode" />
    <result column="HOTEL_NAME"         jdbcType="VARCHAR"        property="hotelName" />
    <result column="CHECK_IN_DATE"      jdbcType="TIMESTAMP"      property="checkInDate" />
    <result column="NIGHT_COUNT"        jdbcType="DECIMAL"        property="nightCount" />
    <result column="CREATE_AT"          jdbcType="TIMESTAMP"      property="createAt" />
    <result column="CREATE_BY"          jdbcType="VARCHAR"        property="createBy" />
    <result column="UPDATE_AT"          jdbcType="TIMESTAMP"      property="updateAt" />
    <result column="UPDATE_BY"          jdbcType="VARCHAR"        property="updateBy" />
  </resultMap>

    <sql id="Base_Column_List">
        ID, ORDER_ID, HOTEL_COUNTRY_CODE, HOTEL_NAME, CHECK_IN_DATE, NIGHT_COUNT, CREATE_AT,
        CREATE_BY, UPDATE_AT, UPDATE_BY
    </sql>

    <insert id="batchInsert" parameterType="com.baofu.cbpayservice.dal.models.FiCbPayOrderHotelDo">
        insert into FI_CBPAY_ORDER_HOTEL (
        ORDER_ID,
        HOTEL_COUNTRY_CODE,
        HOTEL_NAME,
        CHECK_IN_DATE,
        NIGHT_COUNT,
        CREATE_AT,
        CREATE_BY,
        UPDATE_AT,
        UPDATE_BY
        ) values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.orderId,jdbcType=BIGINT},
            #{item.hotelCountryCode,jdbcType=VARCHAR},
            #{item.hotelName,jdbcType=VARCHAR},
            #{item.checkInDate,jdbcType=TIMESTAMP},
            #{item.nightCount,jdbcType=DECIMAL},
            NOW(),
            #{item.createBy,jdbcType=VARCHAR},
            NOW(),
            #{item.updateBy,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>
</mapper>