<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baofu.cbpayservice.dal.mapper.FiCbPayVerifyMapper" >

  <!--添加订单总表，返回宝付订单号-->
  <insert id="insert" parameterType="com.baofu.cbpayservice.dal.models.FiCbPayVerifyDo">
      /*FiCbPayVerifyMapper.insert*/
      INSERT INTO FI_CBPAY_VERIFY (
          ORDER_ID,
          TRANS_ID,
          MEMBER_ID,
          TERMINAL_ID,
          TRANS_DATE,
          ID_CARD,
          ID_NAME,
          TRADE_NO,
          RESP_CODE,
          RESP_DESC,
          FEE_FLAG,
          CREATE_BY,
          CREATE_AT,
          UPDATE_BY,
          UPDATE_AT,
          SOURCE
      )VALUES (
          #{orderId},
          #{transId},
          #{memberId},
          #{terminalId},
          #{transDate},
          #{idCard},
          #{idName},
          #{transNo},
          #{code},
          #{desc},
          #{feeFlag},
          #{createBy},
          NOW(),
          #{updateBy},
          NOW(),
          #{source}
      )
  </insert>

    <!--根据宝付订单号更新信息-->
    <update id="updateVertifyByOrderId" parameterType="com.baofu.cbpayservice.dal.models.FiCbPayVerifyDo">
        /*FiCbPayVerifyMapper.updateVertifyByOrderId*/
        UPDATE BAOFOO_FI.FI_CBPAY_VERIFY  fv
            SET fv.TRADE_NO=#{transNo},
            fv.TRANS_ID=#{transId},
            fv.RESP_CODE=#{code},
            fv.RESP_DESC=#{desc},
            fv.FEE_FLAG=#{feeFlag},
            fv.UPDATE_AT=NOW(),
            fv.UPDATE_BY=#{updateBy}
        WHERE fv.ORDER_ID=#{orderId}
    </update>

    <!--随机抽取数据   购付汇-->

    <select id="selectNeedVerify" resultType="com.baofu.cbpayservice.dal.models.FiCbPayVerifyDo">
          /*FiCbPayVerifyMapper.selectNeedVerify*/
        SELECT
            t.ORDER_ID AS orderId,
            t.MEMBER_TRANS_ID AS transId,
            t.ID_CARD_NO AS idCard,
            t.ID_HOLDER AS idName,
            t.MEMBER_ID AS memberId,
            t.TERMINAL_ID AS terminalId
        FROM
            (
                SELECT
                    fo.ORDER_ID,
                    fo.MEMBER_TRANS_ID,
                    fo.MEMBER_ID,
                    fo.TERMINAL_ID,
                    fo.TRANS_TIME,
                    fa.ID_CARD_NO,
                    fa.ID_HOLDER
                FROM
                    BAOFOO_FI.FI_CBPAY_ORDER fo
                LEFT JOIN BAOFOO_FI.FI_CBPAY_ORDER_ADDITION fa ON fo.ORDER_ID = fa.ORDER_ID
                LEFT JOIN BAOFOO_FI.FI_CBPAY_VERIFY fv ON fo.ORDER_ID = fv.ORDER_ID
                WHERE
                    fo.MEMBER_ID = #{memberId}
                AND fo.BATCH_FILE_ID = #{fileBatchNo}
                AND (fv.RESP_CODE &lt; 0 OR fv.RESP_CODE IS NULL)
            ) t
        ORDER BY
            RAND()
        LIMIT #{authCount}
    </select>

    <!--查询需要进行实名认证的记录   结汇-->
    <select id="queryNeedVerifyOfSettle" resultType="com.baofu.cbpayservice.dal.models.FiCbPayVerifyDo">
         /*FiCbPayVerifyMapper.queryNeedVerifyOfSettle*/
              SELECT
                t.ORDER_ID AS orderId,
                t.MEMBER_TRANS_ID AS transId,
                t.PAYEE_ID_NO AS idCard,
                t.PAYEE_NAME AS idName,
                t.MEMBER_ID AS memberId
            FROM
            (

            SELECT fs.ORDER_ID,
                    fs.MEMBER_TRANS_ID,
                    fs.PAYEE_ID_NO,
                    fs.PAYEE_NAME,
                    fs.MEMBER_ID
              FROM BAOFOO_FI.FI_CBPAY_SETTLE_ORDER fs
              LEFT JOIN BAOFOO_FI.FI_CBPAY_VERIFY fv ON fs.ORDER_ID = fv.ORDER_ID
                    WHERE fs.MEMBER_ID =  #{memberId} AND fs.BATCH_NO = #{fileBatchNo}
                    AND (fv.RESP_CODE &lt; 0 OR fv.RESP_CODE IS NULL)
            ) t
            ORDER BY
                RAND()
            LIMIT #{authCount}

    </select>

    <!--根据宝付订单号查询-->
    <select id="selectVertifyByOrderId" resultType="java.lang.Integer">
        /*FiCbPayVerifyMapper.queryNeedVerifyOfSettle*/
        SELECT COUNT(1) FROM BAOFOO_FI.FI_CBPAY_VERIFY  fv WHERE fv.ORDER_ID=#{orderId}
    </select>

    <!--统计海关报关结果-->
    <select id="statisticVerifyResult" resultType="com.baofu.cbpayservice.dal.models.VerifyCountResultDo">
        /*FiCbPayVerifyMapper.statisticVerifyResult*/
        SELECT  fv.MEMBER_ID AS memberId,
            COUNT(1) AS totalCount,
            SUM(CASE fv.RESP_CODE WHEN 0 THEN 1 ELSE 0 END) AS suc,
            SUM(CASE fv.RESP_CODE WHEN 1 THEN 1 ELSE 0 END)  AS fail
        FROM BAOFOO_FI.FI_CBPAY_VERIFY fv
        WHERE fv.SOURCE=2 AND fv.RESP_CODE!=-1
        <![CDATA[
           AND fv.CREATE_AT>=#{beginTime} AND fv.CREATE_AT<#{endTime}
        ]]>
        GROUP BY fv.MEMBER_ID
    </select>

</mapper>