<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 配置邮件 Mail Server Host Config-->
    <bean id="mailServerConfig" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="${mail.smtp.host}"/>
        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtp.auth">${mail.smtp.auth}</prop>
                <prop key="mail.smtp.timeout">${mail.smtp.timeout}</prop>
            </props>
        </property>
        <property name="username" value="${mail.smtp.username}"/>
        <property name="password" value="${mail.smtp.password}"/>
    </bean>

    <!--dfs初始化-->
    <bean class="com.baofu.cbpayservice.biz.impl.DfsConfigInitImpl" init-method="init">
        <property name="zookeeperAddress" value="${dfs.zookeeper}"/>
        <property name="trackerAdds" value="${dfs.trackers}"/>
        <property name="secretKey" value="${dfs.secretKey}"/>
    </bean>
</beans>