<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:application name="cbpayservice"/>
    <dubbo:registry protocol="zookeeper" address="${zookeeper_server_address}" timeout="50000"
                    file="/tmp/cbpay-service/dubbo-registry/dubbo-registry.properties"/>
    <dubbo:protocol name="dubbo" port="-1"/>

    <!--跨境人民币订单查询服务-->
    <dubbo:service interface="com.baofu.cbpayservice.facade.CbPayOrderQueryFacade"
                   ref="cbPayOrderQueryServiceImpl"
                   retries="0"
                   timeout="50000"
                   version="${cbpay.dubbo.version}"/>

    <!--通知商户服务-->
    <dubbo:service interface="com.baofu.cbpayservice.facade.CbPayNotifyMerchantFacade"
                   ref="cbPayNotifyMerchantServiceImpl"
                   retries="0"
                   timeout="50000"
                   version="${cbpay.dubbo.version}"/>

    <!--汇款订单服务-->
    <dubbo:service interface="com.baofu.cbpayservice.facade.CbPayRemittanceFacade"
                   ref="cbPayRemittanceServiceImpl"
                   retries="0"
                   timeout="50000"
                   version="${cbpay.dubbo.version}"/>

    <!--跨境人民币定时任务接口-->
    <dubbo:service interface="com.baofu.cbpayservice.facade.CbPayJobFacade"
                   ref="cbPayJobServiceImpl"
                   retries="0"
                   timeout="50000"
                   version="${cbpay.dubbo.version}"/>

    <!--代理报关服务接口-->
    <dubbo:service interface="com.baofu.cbpayservice.facade.ProxyCustomsFacade"
                   ref="proxyCustomsFacadeImpl"
                   retries="0"
                   timeout="50000"
                   version="${cbpay.dubbo.version}"/>

    <!--汇款订单通知清算服务接口-->
    <dubbo:service interface="com.baofu.cbpayservice.facade.CbPayNotifySettleFacade"
                   ref="cbPayNotifySettleServiceImpl"
                   retries="0"
                   timeout="20000"
                   version="${cbpay.dubbo.version}"/>

    <!--查汇服务接口  add by wdj-->
    <dubbo:service interface="com.baofu.cbpayservice.facade.CbPaySelectFeeFacade"
                   ref="cbPaySelectFeeServiceImpl"
                   retries="0"
                   timeout="20000"
                   version="${cbpay.dubbo.version}"/>

    <!-- 结汇服务接口 -->
    <dubbo:service interface="com.baofu.cbpayservice.facade.CbPaySettleFacade"
                   ref="cbPaySettleFacadeImpl"
                   retries="0"
                   timeout="60000"
                   version="${cbpay.dubbo.version}"/>

    <!-- 商户多币种账户接口 -->
    <dubbo:service interface="com.baofu.cbpayservice.facade.CbPaySettleBankFacade"
                   ref="cbPaySettleBankFacadeImpl"
                   retries="0"
                   timeout="60000"
                   version="${cbpay.dubbo.version}"/>

    <!-- 风控订单人工审核接口 -->
    <dubbo:service interface="com.baofu.cbpayservice.facade.CbPayOrderRiskControlFacade"
                   ref="cbPayOrderRiskControlFacadeImpl"
                   retries="0"
                   timeout="60000"
                   version="${cbpay.dubbo.version}"/>

    <!-- 订单汇款(非文件上传订单) -->
    <dubbo:service interface="com.baofu.cbpayservice.facade.CbPayOrderRemittanceFacade"
                   ref="cbPayOrderRemittanceFacadeImpl"
                   retries="0"
                   timeout="60000"
                   version="${cbpay.dubbo.version}"/>

    <!-- 渠道分组对外提供接口 -->
    <dubbo:service interface="com.baofu.cbpayservice.facade.ChannelGroupFacade"
                   ref="channelGroupFacadeImpl"
                   retries="0"
                   timeout="60000"
                   version="${cbpay.dubbo.version}"/>

    <!-- 外币账户汇率查询接口 -->
    <dubbo:service interface="com.baofu.cbpayservice.facade.CbPayMemberRateFacade"
                   ref="cbPayMemberRateServiceImpl"
                   retries="0"
                   timeout="60000"
                   version="${cbpay.dubbo.version}"/>

    <!-- 订单取消调用接口 -->
    <dubbo:service interface="com.baofu.cbpayservice.facade.CbPayCancelOrderFacade"
                   ref="cbPayCancelOrderServiceImpl"
                   retries="0"
                   timeout="60000"
                   version="${cbpay.dubbo.version}"/>

    <!-- redis接口 -->
    <dubbo:service interface="com.baofu.cbpayservice.facade.RedisFacade"
                   ref="redisFacadeImpl"
                   retries="0"
                   timeout="60000"
                   version="${cbpay.dubbo.version}"/>

    <!-- 结汇商户FTP服务接口 -->
    <dubbo:service interface="com.baofu.cbpayservice.facade.CbPayMemberFtpFacade"
                   ref="cbPayMemberFtpFacadeImpl"
                   retries="0"
                   timeout="60000"
                   version="${cbpay.dubbo.version}"/>

    <!-- 结汇商户账户信息管理接口 -->
    <dubbo:service interface="com.baofu.cbpayservice.facade.CbPaySettleAccountFacade"
                   ref="cbPaySettleAccountFacadeImpl"
                   retries="0"
                   timeout="60000"
                   version="${cbpay.dubbo.version}"/>

    <!-- 结汇垫资服务接口 -->
    <dubbo:service interface="com.baofu.cbpayservice.facade.CbPaySettlePrepaymentFacade"
                   ref="cbPaySettlePrepaymentFacadeImpl"
                   retries="0"
                   timeout="60000"
                   version="${cbpay.dubbo.version}"/>

    <!-- 汇款api上传文件接口 -->
    <dubbo:service interface="com.baofu.cbpayservice.facade.FileUploadFacade"
                   ref="fileUploadFacadeImpl"
                   retries="0"
                   timeout="60000"
                   version="${cbpay.dubbo.version}"/>

    <!-- 汇款api申请接口 -->
    <dubbo:service interface="com.baofu.cbpayservice.facade.ApiCbPayRemittanceFacade"
                   ref="apiCbPayRemittanceServiceImpl"
                   retries="0"
                   timeout="60000"
                   version="${cbpay.dubbo.version}"/>

    <!-- 汇款api查询接口 -->
    <dubbo:service interface="com.baofu.cbpayservice.facade.RemittanceApiQueryFacade"
                   ref="remittanceApiQueryFacadeImpl"
                   retries="0"
                   timeout="60000"
                   version="${cbpay.dubbo.version}"/>

    <!-- 渠道成本操作接口 -->
    <dubbo:service interface="com.baofu.cbpayservice.facade.CbPayChannelFeeFacade"
                   ref="cbPayChannelFeeFacadeImpl"
                   retries="0"
                   timeout="60000"
                   version="${cbpay.dubbo.version}"/>

    <!-- 批量汇款接口 -->
    <dubbo:service interface="com.baofu.cbpayservice.facade.BatchRemitFacade"
                   ref="batchRemitFacadeImpl"
                   retries="0"
                   timeout="60000"
                   version="${cbpay.dubbo.version}"/>

</beans>